{% extends "base.html" %}
{% load static %}

{% block content %}

<div class=" flex flex-col justify-center items-center">
    {% csrf_token %}
    <div>
        <h2 class="font-montserrat text-lg font-semibold mt-5">Password Reset</h2>
    </div>
    <img src='{% static "npda-logo.png" %}' class="w-15 h-15 mt-5 mb-5">
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}<strong>{{ value }}</strong>{% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <p class="font-montserrat">
        Forgotten your password or password expired?
    </p>
    <p class="font-montserrat mb-4">
        Enter your email address below, and we'll email you instructions for setting a new one.
    </p>
    <form method="POST">
        {% csrf_token %}
        <div class="field">
            <input type="email"
                    name="email"
                    autocomplete="email"
                    maxlength="254"
                    required
                    id="id_email"
                    class="border-rcpch_light_blue px-3 py-2 border-2"
                    placeholder="Enter your email address">
        </div>
        <span>
            <button type="submit" class="bg-rcpch_light_blue border-white text-white font-semibold hover:text-white py-2.5 px-3 mt-40 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">Submit</button>
            <a href="{% url 'two_factor:login' %}" class="bg-rcpch_light_blue text-white font-semibold hover:text-white py-2.5 px-3 mt-40 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">Back To Login</a>
        </span>
    </form>
    <br>
    </div>
</div>
{% endblock %}
