{% extends "base.html" %}
{% load static %}

{% block content %}

<div class=" flex flex-col justify-center items-center">

  
  {% csrf_token %}

  
      
  <div>
    <h2 class="font-montserrat text-lg font-semibold mt-5">Reset Password</h2>
  </div>
  <img src='{% static "npda-logo.png" %}' class="w-15 h-15 mt-5 mb-5">


    {% if validlink %}
    <div class="font-montserrat">
      <p>Please enter (and confirm) your new password.</p>
      <form action="" method="post" >
          <div style="display:none">
              <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
          </div>
          <div class="field">
            {{ form.new_password1.errors }}
            <label for="id_new_password1">New password:</label>
            {{ form.new_password1 }}
          </div>
          <div class="small italic text-rcpch_red">
              {{ form.new_password2.errors }}
              <label for="id_new_password2">Confirm password:</label>
              {{ form.new_password2 }}
          </div>
          <div class='field'>
            <button class="bg-rcpch_light_blue text-white font-semibold hover:text-white py-2.5 px-3 mt-40 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue" type="submit">Change Password</button>
          </div>
      </form>
      <h5>Password Guidance</h5>
      <li><small>Minimum of 10 characters (minimum 16 for RCPCH Audit team)</small></li>
      <li><small>Must contain ONE capital</small></li>
      <li><small>Must contain ONE number</small></li>
      <li><small>Must contain ONE symbol from !@£$%^&*()_-+=|~</small></li>
      <li><small>Must NOT be exclusively numbers</small></li>
      <li><small>Must NOT be same as your email, name, surname</small></li>
      <i><small>Note passwords must be changed every 90 days.</small></i>
    </div>
        
    {% else %}
    <div class="w-full px-5 flex flex-col">
      <h1>Password reset failed</h1>
      <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    </div>
    {% endif %}

</div>
{% endblock %}