{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="flex flex-col justify-center items-center">
    {% csrf_token %}
    <div>
      <h2 class="font-montserrat mt-5 text-lg font-semibold">Password Reset</h2>
    </div>
    <img src="{% static "images/npda-logo-white.png" %}" class="h-15 w-auto mt-5 mb-5">
    {% if form.errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
          {% for key, value in form.errors.items %}
            <strong>{{ value }}</strong>
          {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    {% endif %}
    <p class="font-montserrat">Forgotten your password?</p>
    <p class="font-montserrat mb-4">
      Enter your email address below, and we'll email you instructions for setting a new one.
    </p>
    <form method="post">
      {% csrf_token %}
      <div class="field">
        <input type="email"
               name="email"
               autocomplete="email"
               maxlength="254"
               required
               id="id_email"
               class="border-rcpch_light_blue px-3 py-2 border-2"
               placeholder="Enter your email address">
      </div>
      <span>
        <button type="submit"
                class="bg-rcpch_light_blue border-rcpch_light_blue px-3 py-2.5 mt-40 font-semibold text-white border border-white hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue hover:text-white">
          Submit
        </button>
        <a href="{% url 'two_factor:login' %}"
           class="bg-rcpch_light_blue border-rcpch_light_blue px-3 py-2.5 mt-40 font-semibold text-white border hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue hover:text-white">Back To Login</a>
      </span>
    </form>
    <br>
  </div>
{% endblock %}
