{% load npda_tags %}
{% if user.is_superuser %}
  <div class="admin-data">
    DEVELOPER INFO - branch: <a href="https://github.com/rcpch/national-paediatric-diabetes-audit/tree/{{active_git_branch}}" target="_blank" class="text-rcpch_red font-bold">{{ active_git_branch }}</a>,
    commit: <a href="https://github.com/rcpch/national-paediatric-diabetes-audit/commit/{{latest_git_commit}}" target="_blank" class="text-rcpch_red font-bold">{{ latest_git_commit | truncatechars:7 }}</a>,
    {% if request.session.feature_flags %}
      feature flags: {{request.session.feature_flags}},
    {% endif %}
    current user: {{ user.email }}
  </div>
{% endif %}
<div class="navbar bg-base-100 sticky top-0 z-[70] p-0 items-center h-10 shadow">
  {% comment %} NPDA NAV LOGO {% endcomment %}
  <div class="navbar-start">
    <div class="dropdown">
      {% comment %} MOBILE HAMBURGER MENU ICON {% endcomment %}
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="h-5 w-5x"
             fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        {% include 'navbar/components/nav_links.html' %}
      </ul>
    </div>
    <a class="btn btn-ghost text-xl h-full" href="{{ user_home_page }}">
      {% comment %} DESKTOP {% endcomment %}
      <span class="hidden lg:flex lg:gap-6 lg:items-center">
        <img class="h-12"
             src="https://www.rcpch.ac.uk/themes/rcpch/images/logo-desktop.svg"
             alt="RCPCH Logo" />
        <p>
          National Paediatric
          <br>
          Diabetes Audit
        </p>
      </span>
      {% comment %} MOBILE {% endcomment %}
      <span class="lg:hidden">
        <p>NPDA</p>
      </span>
    </a>
  </div>
  {% comment %} NAV ITEMS {% endcomment %}
  {% if breadcrumbs %}
    <div class="navbar-center breadcrumbs text-m">
      <ul>
        <li>
          <a href="{% url 'new-home' audit_period=audit_period_slug %}">{{audit_period_slug}}</a>
        </li>
        <li>
          <a href="{% data_url 'pdu-dashboard' %}">{{pz_code}}</a>
        </li>
        {% for breadcrumb in breadcrumbs %}
          <li>
            <a href="{{ breadcrumb.href }}">{{ breadcrumb.label }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% comment %} RIGHT {% endcomment %}
  <div class="navbar-end h-full">
    <a href="{% docs_url %}/user-guide/user-guide/" class="text-xs font-montserrat font-semibold text-gray-700 text-gray-400 hover:text-rcpch_light_blue hover:bg-transparent hover:underline underline-offset-8 mr-6">
      User Guide
    </a>
    {% if instance_label %}
      <p class="badge badge-md badge-warning mr-6">
        {{instance_label}}
      </p>
    {% endif %}
    {% include 'navbar/components/avatar_dropdown.html' %}
  </div>
</div>
