envs/.env
envs/github.env
staticdocs
staticfiles
logs/npda.log
npda.log.*
media/submissions/csv/*

__pycache__
.DS_Store
/.cache
*.code-workspace
.vscode/*
!/.vscode/settings.json
!/.vscode/launch.json
!/.vscode/extensions.json

node_modules
venv/
env/

build_info.json

media/submissions/csv/*
*.crt

project/npda/dummy_sheets/local_generated_data/*
!project/npda/dummy_sheets/local_generated_data/.gitkeep
