{% extends 'dashboard/components/bases/base_card.html' %}
{% block card_title %}
  Additional Care Processes
  {% include 'common/docs_icon_link_button.html' with rel_url="developer/kpis/additional_processes" fa_icon_class="fa-solid fa-eye" %}
{% endblock card_title%}
{% block card_body %}
{% if charts.pt_characteristics_value_counts.data.care.kpi_4_total_t1dm_gte_12yo.total == 0 %}
  <div class="alert alert-info">
    <i class="fa-solid fa-person-circle-exclamation"></i> No eligible patients.
  </div>
{% else %}
  <div
  hx-get="{% url 'get_simple_bar_chart_pcts_partial' %}?color=E00087"
  hx-vals='{"data" : {{ charts.additional_care_processes_value_counts_pct.data }}, "yaxis_title": "% Eligible"}'
  hx-trigger="load" hx-swap="innerHTML"
  _="on htmx:afterSwap remove #loading-spinner-additional-care-processes-card"></div>

  <div id="loading-spinner-additional-care-processes-card"
  class="loading loading-spinner text-rcpch_dark_blue flex flex-grow-1 justify-center items-center h-full w-1/5 mx-auto bg-center">
  </div>
  {% endif %}
{% endblock %}






