{% extends 'dashboard/components/bases/base_card.html' %}
{% block card_title %}
  Admissions
  {% include 'common/docs_icon_link_button.html' with rel_url="developer/kpis/outcomes/#46-number-of-admissions" fa_icon_class="fa-solid fa-eye" %}
{% endblock card_title%}
{% block card_body %}
{% if charts.admissions_value_counts_absolute.no_eligible_patients %}
  <div class="alert alert-info">
    <i class="fa-solid fa-person-circle-exclamation"></i> No eligible patients.
  </div>
{% else %}
<div class="grid grid-cols-2 text-center justify-center items-center">
  <div class="d-flex justify-self-center items-center w-full border-r  border-r-rcpch_mid_grey">
    <h1>Total</h1>
    <p class="text-sm py-1">{{ charts.admissions_value_counts_absolute.data.kpi_46_number_of_admissions }} patients</p>
  </div>
  <div class="d-flex justify-self-center items-center w-full border-l  border-l-rcpch_mid_grey">
    <h1>With DKA</h1>
    <p class="text-sm py-1">{{ charts.admissions_value_counts_absolute.data.kpi_47_number_of_dka_admissions }} patients</p>
  </div>
</div>
{% endif %}
{% endblock %}






