{% extends 'dashboard/components/bases/base_card.html' %}
{% block card_title %}
Audit Details
{% endblock card_title%}
{% block card_body %}
<div class="flex flex-row justify-center items-center text-center gap-8">

  <div class="flex flex-col justify-center">
    <p class="font-bold">Start Date</p>
    <p>{{ audit_period.start_date }}</p>
  </div>
  <div class="flex">
    <p>-</p>
  </div>
  <div class="flex flex-col justify-center">
    <p class="font-bold">End Date</p>
    <p>{{ audit_period.end_date }}</p>
  </div>
</div>
{% if current_quarter %}
  {% include 'dashboard/hr_with_text.html' with hr_rule_text='Current Quarter' %}
  <div class="flex flex-col justify-center items-center">
    <p class="text-4xl">Q{{ current_quarter }}</p>
    <p>({{ current_date }})</p>
  </div>
{% endif %}
{% if days_remaining_until_audit_end_date %}
  {% include 'dashboard/hr_with_text.html' with hr_rule_text='Days Remaining' %}
  <div class="flex flex-col justify-center items-center pb-4">
    <p class="text-4xl">{{ days_remaining_until_audit_end_date }}</p>
  </div>
{% endif %}

{% endblock %}
