{% extends 'dashboard/components/bases/base_card.html' %}
{% block card_title %}
Glucose Monitoring
{% include 'common/docs_icon_link_button.html' with rel_url="developer/kpis/glucose_monitoring" fa_icon_class="fa-solid fa-eye" %}
{% endblock card_title%}
{% block card_body %}
{% if charts.glucose_monitoring_value_counts_pct.no_eligible_patients %}
  <div class="alert alert-info">
    <i class="fa-solid fa-person-circle-exclamation"></i> No eligible patients.
  </div>
{% else %}

    <div
    hx-get="{% url 'get_simple_bar_chart_absolutes_partial' %}?color=E00087"
    hx-vals='{ "data" : {{ charts.glucose_monitoring_value_counts_pct.data }} }'
    hx-trigger="load" hx-swap="innerHTML"
    _="on htmx:afterSwap remove #loading-spinner-glucose-monitoring-card"></div>

  <div id="loading-spinner-glucose-monitoring-card"
  class="loading loading-spinner text-rcpch_dark_blue flex flex-grow-1 justify-center items-center h-full w-1/5 mx-auto bg-center">
  </div>

{% endif %}
{% endblock %}






