{% extends 'dashboard/components/bases/base_card.html' %}
{% block card_title %}
  Index of Multiple Deprivation (Quintile)
{% endblock card_title%}

{% block subtitle %}
<p class="text-sm text-center">1st Most Deprived - 5th Least Deprived</p>
{% endblock %}

{% block card_body %}
<div
hx-get="{% url 'get_waffle_chart_partial' %}"
hx-vals='{{ charts.pt_imd_value_counts_pct.data }}'
hx-trigger="load" hx-swap="innerHTML"
_="on htmx:afterSwap remove #loading-spinner-ethnicity-card"></div>

<div id="loading-spinner-ethnicity-card"
class="loading loading-spinner text-rcpch_dark_blue flex flex-grow-1 justify-center items-center h-full w-1/5 mx-auto bg-center">
</div>
{% endblock %}






