{% extends 'dashboard/components/bases/base_card.html' %}
{% load npda_tags %}
{% block card_title %}
  Distribution of patients - {{ pdu_object.lead_organisation_name }} ({{ pdu_object.pz_code }})
{% endblock card_title %}
{% block card_body %}
  <div hx-get="{% data_url 'pdu-get-map-chart-partial' %}"
       hx-trigger="load"
       hx-swap="innerHTML"
       hx-target="#organisation_cases_map"
       hx-indicator="#loading-spinner-imd-map"
       _="on htmx:afterSwap remove #loading-spinner-imd-map">
    <figure>
      <div id="organisation_cases_map" style="width: 100%">
        {% include 'dashboard/map_chart_partial.html' with chart_html=chart_html aggregated_distances=aggregated_distances %}
      </div>
    </figure>
  </div>
  <div id="loading-spinner-imd-map"
       class="loading loading-spinner text-rcpch_dark_blue flex flex-grow-1 justify-center items-center w-1/5 mx-auto bg-center">
  </div>
{% endblock %}
