{% extends 'dashboard/components/bases/base_card.html' %}
{% block card_title %}
  Index of Multiple Deprivation <div class="tooltip" data-tip="1st Quintile = Most Deprived; 5th Quintile = Least Deprived">
    <i class="fas fa-info-circle"></i>
  </div>
{% endblock card_title%}
{% block card_body %}
<div
hx-get="{% url 'get_waffle_chart_partial' %}"
hx-vals='{{ charts.pt_imd_value_counts_pct.data }}'
hx-trigger="load" hx-swap="innerHTML"
_="on htmx:afterSwap remove #loading-spinner-ethnicity-card"></div>

<div id="loading-spinner-ethnicity-card"
class="loading loading-spinner text-rcpch_dark_blue flex flex-grow-1 justify-center items-center h-full w-1/5 mx-auto bg-center">
</div>
{% endblock %}






