{% extends "dashboard/components/bases/base_secondary_card.html" %}
{% load npda_tags %}
{% block card_title %}
    Moved Out of Area
    {% include 'common/docs_icon_link_button.html' with rel_url="developer/kpis/patient_characteristics/#calculation_7" fa_icon_class="fa-solid fa-eye" %}
{% endblock %}
{% block card_content %}
    <div hx-get="{% data_url 'pdu-get-moved-out-of-area-partial' %}"
         hx-trigger="load"
         hx-swap="innerHTML"
         _="on htmx:afterSwap remove #loading-spinner-moved-out-of-area-card">
    </div>
    <div id="loading-spinner-moved-out-of-area-card"
         class="loading loading-spinner text-rcpch_dark_blue flex flex-grow-1 justify-center items-center h-full w-1/5 mx-auto bg-center">
    </div>
{% endblock %}
