{% extends "dashboard/components/bases/base_secondary_card.html" %}

{% block card_title %}
    New admissions
{% endblock %}

{% block card_content %}

<div
hx-get="{% url 'get_new_admissions_partial' %}"
hx-trigger="load" hx-swap="innerHTML"
_="on htmx:afterSwap remove #loading-spinner-new-admissions-card"></div>




<div id="loading-spinner-new-admissions-card"
class="loading loading-spinner text-rcpch_dark_blue flex flex-grow-1 justify-center items-center h-full w-1/5 mx-auto bg-center">
</div>


{% endblock %}
