{% extends 'dashboard/components/bases/base_landscape_card.html' %}
{% block card_title %}
  Patient Ages by Diabetes Type
{% endblock card_title %}
{% block card_body %}
  {% if hba1c_value_counts_stratified_by_diabetes_type.no_eligible_patients %}
    <div class="alert alert-info">
      <i class="fa-solid fa-person-circle-exclamation"></i> No eligible patients.
    </div>
  {% else %}
    <div class="overflow-x-auto w-full">
      <div hx-get="{% url 'patient_ages' %}"
           hx-trigger="load"
           hx-swap="innerHTML"
           hx-target="#patient_ages"
           hx-indicator="#loading-spinner-patient-ages"
           _="on htmx:afterRequest remove #loading-spinner-patient-ages">
      </div>
      <div id="patient_ages" class="w-full"></div>
      <div id="loading-spinner-patient-ages"
           class="loading loading-spinner text-rcpch_dark_blue flex flex-grow-1 justify-center items-center h-full w-1/5 mx-auto bg-center">
      </div>
    </div>
  {% endif %}
{% endblock %}
