{% extends 'dashboard/components/bases/base_card.html' %}
{% block card_title %}
  {{ pdu_object.pz_code }}
{% endblock card_title %}
{% block card_body %}
  <!-- PZ Name -->
  <p class="flex justify-center tooltip text-center mt-2 text-lg"
     data-tip="Lead Organisation Name">
    {{ pdu_object.lead_organisation_name }}
  </p>
  <!-- Divider with Text "Trust" -->
  {% include 'dashboard/hr_with_text.html' with pdu_object=pdu_object %}
  <!-- Trust or LHB Details -->
  <div class="flex flex-col space-evenly text-center ">
    <p class="flex justify-center tooltip mt-2 text-lg"
       data-tip="{% if pdu_object.paediatric_diabetes_network_name == "Wales" %}Local Health Board{% else %}Trust Name{% endif %}">
      {{ pdu_object.parent_name }}
    </p>
    <p class="flex justify-center tooltip mt-2 text-lg"
       data-tip="Paediatric Diabetes Network">
      {{ pdu_object.paediatric_diabetes_network_name }} ({{ pdu_object.paediatric_diabetes_network_code }})
    </p>
  </div>
{% endblock %}
