{% if auditcohorts %}
    <div class="row">

            <table class="table table-md w-full text-sm text-left rtl:text-right text-gray-500 text-gray-400 mb-5 font-montserrat">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 bg-rcpch_dark_blue text-white">
                    <tr>
                        <th>Submission Date</th>
                        <th>Submission By</th>
                        <th>Audit Year (Cohort)</th>
                        <th>Patient Number</th>
                        <th>Active</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for audit in auditcohorts %}
                        <tr>
                            <td>{{ audit.submission_date|date:"d/m/Y H:i s" }} secs</td>
                            <td>{{audit.submission_by}}</td>
                            <td>{{audit.audit_year}} ({{audit.cohort_number}})</td>
                            <td>{{audit.patient_count}}</td>
                            <td>{{audit.submission_active}}</td>
                            <td>
                                <form method="post" action="{% url 'audit_cohorts' %}" class="join">
                                    {% csrf_token %}
                                    <input type="hidden" name="audit_id" value="{{audit.pk}}">
                                    <button name="submit-data" value="download-data" type="submit" class="join-item bg-rcpch_light_blue text-white font-semibold hover:text-white py-1 px-2 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue btn-sm rounded-none">Download</button>
                                    <button name="submit-data" value="delete-data"  type="submit" class="join-item bg-rcpch_red text-white font-semibold hover:text-white py-1 px-2 border border-rcpch_red hover:bg-rcpch_red_dark_tint hover:border-rcpch_red_dark_tint btn-sm rounded-none">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

    </div>
{% else %}
    <div class="row">
        <div class="col-md-12 font-montserrat">
            <h3>Upload History</h3>
            <p>No audit files uploaded yet for {{request.session.sibling_organisations.pz_code}}.</p>
        </div>
    </div>
{% endif %}