{% load static %}
{% load npda_tags %}
<div class="overflow-x-auto">
  <h2 class="text-md font-montserrat font-semibold text-rcpch_dark_blue">
    Data Quality Report
  </h2>
  <div class="max-h-screen">
    <div class="w-full overflow-x-auto overflow-y-auto"
         style="max-height:inherit">
      <table class="table table-auto table-pin-cols table-pin-rows border-collapse text-sm text-left text-gray-500 mb-5 font-montserrat">
        <thead class="text-xs uppercase bg-rcpch_dark_blue text-white">
          <tr class="bg-rcpch_dark_blue text-white z-40">
            <td>{% nhs_number_vs_urn pz_code %}</td>
            <td>Total Visits</td>
            <td>Visits with Errors</td>
          </tr>
        </thead>
        <tbody>
          {% for patient in patients %}
            <tr>
              <td>{% nhs_number_vs_urn pz_code patient %}</td>
              <td>{{ patient.visit_count }}</td>
              <td>{{ patient.visit_error_count }}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="100%" class="text-gray-900">
              This table shows the number of visits for each patient and the number of visits with errors for the current active submission.
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  {% if submission_errors %}
    <table class="table-auto w-full text-sm text-left text-gray-500 mb-5 font-montserrat">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 bg-rcpch_dark_blue text-white">
        <tr>
          <th class="px-6 py-3">CSV Row Number</th>
          <th class="px-6 py-3">Field</th>
          <th class="px-6 py-3">Error</th>
        </tr>
      </thead>
      <tbody>
        {% for row_number, errors in submission_errors.items %}
          {% for field, error_list in errors.items %}
            {% for individual_error in error_list %}
              <tr>
                <td class="px-6 py-4">{{ row_number }}</td>
                <td class="px-6 py-4">{% heading_for_field pz_code field %}</td>
                <td class="px-6 py-4">{{ individual_error|escapeseq|join_with_comma }}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="text-gray-900">
            This table shows the errors found in the CSV file for the current active submission.
          </td>
        </tr>
      </tfoot>
    </table>
  {% endif %}
</div>
