{% for organisation_employer in organisation_employers %}
    {% if organisation_employer.is_primary_employer %}
        <div><strong>{{ organisation_employer.paediatric_diabetes_unit }} Primary Employer</strong></div>
    {% else %}
        <div>
            {{ organisation_employer.paediatric_diabetes_unit }} <button class="bg-rcpch_light_blue text-white font-semibold hover:text-white border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue p-1 m-1" hx-post="{% url 'npdauser-update' npda_user.pk %}" hx-target="#primary_pdu" hx-swap="innerHTML" hx-vals='{"organisation_employer_id":"{{organisation_employer.pk}}"}'>Set Primary</button>
        </div>
    {% endif %}                      
{% endfor %}