{% load static %}
<div class="max-w-xl w-full">
    <a href="{% static 'npda_base.csv' %}" download="npda_base.csv">
        <p class="text-center text-xl font-semibold font-montserrat mb-4 text-rcpch_dark_blue">Download the NPDA CSV template here</p>
    </a>
    
        <form method="POST" enctype="multipart/form-data" action="home"
            class="w-full max-w-xl p-8 border-4 border-dashed border-gray-400"
            _="on dragover or dragenter halt the event then
                        add .bg-rcpch_light_grey
                on dragleave or drop remove .bg-rcpch_light_grey
                on drop halt the event then
                    get event.dataTransfer.files then put it into #upload_input.files then call updateFilename(#upload_input)">
            <p class="text-center text-xl font-semibold font-montserrat mb-4 text-rcpch_dark_blue">Please drop your NPDA CSV
                file here, or</p>
            <div class="flex justify-center items-center bg-rcpch_dark_blue py-4 px-6 mb-4">
                <label class="mr-4 bg-gray-600 text-white font-montserrat py-2 px-4 cursor-pointer">
                    Choose file
                    <input id="upload_input" type="file" name="csv_upload" class="hidden" onchange="updateFilename(this)" accept='''.csv'>
                </label>
                <span id="file-name-display" class="text-white font-montserrat">No file chosen</span>

            </div>
            {% csrf_token %}


            <div class="relative">
                <button id="submit-button" class="w-full bg-gray-400 text-white font-montserrat py-2 px-4 tooltip-trigger"
                    type="submit" disabled _="on click remove .hidden from #upload-spinner">
                    Submit data
                    <span class="loading loading-spinner loading-lg text-rcpch_pink hidden" id="upload-spinner"></span>
                </button>
                <div class="tooltip-content absolute left-1/2 transform -translate-x-1/2 mt-2 w-48 bg-rcpch_pink text-white text-center rounded p-2 opacity-0 transition-opacity duration-300 pointer-events-none"
                    _="
                        on mouseenter from #submit-button 
                        if the #submit-button's disabled 
                            add .opacity-100
                        end
                        on mouseleave from #submit-button 
                        if the #submit-button's disabled 
                            remove .opacity-100
                        end
                    ">
                    Upload your NPDA CSV file to submit data!
                </div>
            </div>
        </form>
    
</div>

<script>
    function updateFilename(input) {
        const fileNameDisplay = document.getElementById('file-name-display');
        const submitButton = document.getElementById('submit-button');

        if (input.files.length > 0) {
            const file = input.files[0];
            const fileName = file.name;
            const fileExtension = fileName.split('.').pop().toLowerCase();

            if (fileExtension === 'csv') {
                fileNameDisplay.textContent = fileName;
                submitButton.classList.replace('bg-gray-400', 'bg-rcpch_light_blue');
                submitButton.removeAttribute('disabled');
            } else {
                fileNameDisplay.textContent = 'Invalid file type. Please upload a CSV file.';
                submitButton.classList.add('bg-gray-400');
                submitButton.setAttribute('disabled', 'disabled');
            }
        } else {
            fileNameDisplay.textContent = 'No file chosen';
            submitButton.classList.add('bg-gray-400');
            submitButton.setAttribute('disabled', 'disabled');
        }
    }
</script>