<div class="max-w-xl w-full">
    {% if file_uploaded %}
        <h5 class="font-montserrat mb-5"><strong>File uploaded - Thank you!</strong></h5>
        <div class="border-rcpch_light_blue font-montserrat rounded-none flex flex-col justify-start">
            {% if errors %}
                <h3 class="font-bold">Errors - some rows have not been saved!</h3>
                {% for error in errors %}
                    <div class="text-md">
                        Row <strong>{{error.original_row_index|add:1}}</strong>: {{error.field}} - {{error.message}}
                    </div>
                {% endfor %}
            {% endif %}
            {% if summary %}
                <h3 class="font-bold">Summary</h3>
                <div class="text-md">Total uploaded rows: <strong>{{summary.total_records}}</strong></div>
                <div class="text-md">Number of unique patients: <strong>{{summary.number_unique_nhs_numbers}}</strong></div>
                {% if summary.count_of_records_per_nhs_number|length > 0 %}
                    <div class="text-md">The breakdown of records per NHS number are:</div>
                        {% for nhs_number, visit_count in summary.count_of_records_per_nhs_number %}
                            <p class="text-md">- <i>{{nhs_number}}</i>: <strong>{{visit_count}}</strong> records/visits
                            <p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if summary.matching_patients_in_current_cohort > 0 %}
                    <div class="font-bold">{{summary.matching_patients_in_current_cohort}} patients already exist in the NPDA database
                        for this audit year.</div>
                    <div class="text-md">This data will become the active submission but the previous submission will be retained.</div>
                {% else %}
                    <a href='audit_cohorts'><button
                        class="bg-rcpch_light_blue text-white font-semibold hover:text-white py-2 px-3 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue"
                        type="submit">View Submissions</button></a>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        <form method="POST" enctype="multipart/form-data" action="home"
            class="w-full max-w-xl p-8 border-4 border-dashed border-gray-400">
            <p class="text-center text-xl font-semibold font-montserrat mb-4 text-rcpch_dark_blue">Please drop your NPDA CSV
                file here, or</p>
            <div class="flex justify-center items-center bg-rcpch_dark_blue py-4 px-6 mb-4">
                <label class="mr-4 bg-gray-600 text-white font-montserrat py-2 px-4 cursor-pointer">
                    Choose file
                    <input id="upload_input" type="file" name="csv_upload" class="hidden" onchange="updateFilename(event)">
                </label>
                <span id="file-name-display" class="text-white font-montserrat">No file chosen</span>

            </div>
            {% csrf_token %}


            <div class="relative">
                <button id="submit-button" class="w-full bg-gray-400 text-white font-montserrat py-2 px-4 tooltip-trigger"
                    type="submit" disabled _="on click remove .hidden from #upload-spinner">
                    Submit data
                    <span class="loading loading-spinner loading-lg text-rcpch_pink hidden" id="upload-spinner"></span>
                </button>
                <div class="tooltip-content absolute left-1/2 transform -translate-x-1/2 mt-2 w-48 bg-rcpch_pink text-white text-center rounded p-2 opacity-0 transition-opacity duration-300 pointer-events-none"
                    _="
                        on mouseenter from #submit-button 
                        if the #submit-button's disabled 
                            add .opacity-100
                        end
                        on mouseleave from #submit-button 
                        if the #submit-button's disabled 
                            remove .opacity-100
                        end
                    ">
                    Upload your NPDA CSV file to submit data!
                </div>
            </div>
        </form>
    {% endif %}
</div>

<script>
    function updateFilename(event) {
        const fileInput = event.target;
        const fileNameDisplay = document.getElementById('file-name-display');
        const submitButton = document.getElementById('submit-button');

        if (fileInput.files.length > 0) {
            fileNameDisplay.textContent = fileInput.files[0].name;
            submitButton.classList.replace('bg-gray-400', 'bg-rcpch_light_blue');
            submitButton.removeAttribute('disabled');
        } else {
            fileNameDisplay.textContent = 'No file chosen';
            submitButton.classList.add('bg-gray-400');
        }
    }
</script>