<div class="flex flex-row">
    <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="select rcpch-select rounded-none {% if field.id_for_label == 'id_add_employer' %} hidden {% endif %}">
        {% for choice in field.field.choices %}
        {% if not show_rcpch_team and choice.1 == "RCPCH Audit Team" %}
        <!-- Do nothing, hide Audit Team option if not already in audit team-->
        {% else %}
        <option value="{{choice.0}}" {% if field.value == choice.0 %} selected="{{ field.value }}" {% endif %}>{{choice.1}}</option>
        {% endif %}
        {% endfor %}
    </select>
    {% if field.id_for_label == 'id_add_employer' %}
        <div id="add_organisation_button">
            <button type="button" class="bg-rcpch_light_blue text-white font-semibold hover:text-white py-1.5 px-2 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue mb-2 text-xs" 
                _="on click 
                    toggle .hidden on #{{ field.id_for_label }} 
                    then toggle .hidden on #add_employer_label 
                    then if my innerHTML is 'Add Employer' 
                        set my innerHTML to 'Hide Employers' 
                    else 
                        set my innerHTML to 'Add Employer'">Add Employer</button>
        </div>
    {% endif %}
</div>
