{% load static %}
{% load npda_tags %}
{% url 'patients' as patients_url %}
{% if page_obj %}
  {% include 'partials/page_elements/search_input_badges.html' with search_input_list=search_input_list %}
  <div class="w-full overflow-x-scroll">
    <table class="font-montserrat table-md table mt-2 mb-5 text-sm text-left rtl:text-right">
      <thead class="bg-rcpch_dark_blue text-xs text-white uppercase">
        {% include 'partials/page_elements/patient_table_page_controls.html' %}
        <tr class="snap-x">
          <th scope="col" class="px-2 py-3 text-center">
            <span class="flex flex-row">
              {% if pz_code == 'PZ248' %}
                {% include 'partials/page_elements/sort_icon.html' with field="unique_reference_number" %}
                Unique Reference Number
              {% else %}
                {% include 'partials/page_elements/sort_icon.html' with field="nhs_number" %}
                NHS Number
              {% endif %}
            </span>
          </th>
          <th scope="col" class="px-2 py-3 text-center">
            {% include 'partials/page_elements/sort_icon.html' with field="date_of_birth" is_string=False %}
            Date of Birth
          </th>
          <th scope="col" class="px-2 py-3 text-center">Sex</th>
          <th scope="col" class="px-2 py-3 text-center">Diabetes Type</th>
          <th scope="col" class="px-2 py-3 text-center">Diagnosis Date</th>
          <th scope="col" class="px-2 py-3 text-center">Postcode</th>
          <th scope="col" class="px-2 py-3 text-center">
            <span class="tooltip tooltip-bottom"
                  data-tip="The 'Index of Multiple Deprivation' quintile for the patient's postcode. Note: 1 is the most deprived and 5 is the least deprived.">
              {% include 'partials/page_elements/sort_icon.html' with field="index_of_multiple_deprivation_quintile" is_string=False %}
              IMD <i class="fa-question-circle fas"></i>
            </span>
          </th>
          <th scope="col" class="px-2 py-3 text-center">
            <span class="tooltip tooltip-bottom"
                  data-tip="The distance 'as the crow flies' from the patients postcode to this PDU.">
              {% include 'partials/page_elements/sort_icon.html' with field="distance_from_lead_organisation" is_string=False %}
              Distance to PDU <i class="fa-question-circle fas"></i>
            </span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for patient in page_obj %}
          {% if patient.is_first_error or patient.is_first_valid or patient.is_first_valid_incomplete_full_year %}
            <thead class="bg-rcpch_strong_blue text-xs text-white text-gray-700 uppercase bg-gray-50">
              <tr>
                <th colspan="13" class="px-6 py-3">
                  {% if patient.is_first_error %}
                    Patients with data quality issues
                  {% elif patient.is_first_valid %}
                    Patients with a full year of care
                  {% elif patient.is_first_valid_incomplete_full_year %}
                    Patients with an incomplete year of care
                  {% endif %}
                </th>
              </tr>
            </thead>
          {% endif %}
          <tr class="{% if forloop.counter|divisibleby:2 %} bg-gray-100 {% endif %} hover:bg-gray-200 {% if patient.is_in_transfer_in_the_last_year %}bg-rcpch_yellow hover:bg-rcpch_yellow_dark_tint {% endif %}">
            {% with nhs_number_error=patient.errors|error_for_field:"nhs_number" unique_reference_number_error=patient_errors|error_for_field:"unique_reference_number" gp_error=patient.errors|error_for_field:"gp_practice_ods_code" %}
              {% jersify_errors_for_unique_patient_identifier pz_code nhs_number_error unique_reference_number_error as unique_identifier_error %}
              <td class="whitespace-nowrap">
                <a class="btn flex p-1 h-full tooltip tooltip-right {% if nhs_number_error or gp_error %} text-rcpch_red {% else %} hover:text-rcpch_pink {% endif %}"
                   target="_blank"
                   href="{% url 'patient-update' patient.pk %}"
                   data-tip="{% if unique_identifier_error or gp_error %} {{ unique_identifier_error }} {{ gp_error }} {% else %} {% if patient.is_in_transfer_in_the_last_year %}Patient in transfer... {% endif %}View patient (NPDA ID {{ patient.pk }}) details (opens new tab) {% if patient.is_part_of_another_active_submission %} Note {% nhs_number_vs_urn pz_code patient %} is part of another active submission for {{ request.session.selected_audit_year }} in {% for submission_unit in patient.paediatric_diabetes_units_which_are_part_of_another_active_submission %} {{ submission_unit.submission.paediatric_diabetes_unit }}, {% endfor %} {% endif %} {% endif %} ">
                  {% if patient.is_part_of_another_active_submission %}
                    <i class="fa-solid fa-copy fa"></i>
                  {% endif %}
                  <span class="fa-stack">
                    {% if unique_identifier_error or gp_error %}
                      <i class="fa-circle fa-stack-1x fas"></i>
                      <i class="fa-exclamation fa-stack-1x fa-inverse fas"></i>
                    {% else %}
                      <i class="fa-hospital-user fa-stack-1x fas"></i>
                    {% endif %}
                  </span>
                  <strong class="font-mono text-xs">
                    {% nhs_number_vs_urn pz_code patient %}
                    {% if patient.is_in_transfer_in_the_last_year %}
                      <i class="fa-solid fa-handshake fa-xl"></i>
                    {% endif %}
                  </strong>
                </span>
              </a>
            </td>
          {% endwith %}
          <td class="px-6 py-4 text-center {% if patient.errors|error_for_field:'date_of_birth' %}text-rcpch_red{% endif %}">
            {% if patient.errors|error_for_field:"date_of_birth" %}
              <div class="inline-flex tooltip tooltip-top"
                   data-tip="{{ patient.errors|error_for_field:'date_of_birth' }}">
                <span class="fa-stack">
                  <i class="fa-circle fa-stack-1x fas"></i>
                  <i class="fa-exclamation fa-stack-1x fa-inverse fas"></i>
                </span>
                {% if patient.death_date is not None %}
                  {{ patient.diagnosis_date }} - {{ patient.death_date }}
                {% else %}
                  {{ patient.date_of_birth }}
                {% endif %}
              </div>
            {% else %}
              {% if patient.death_date is not None %}
                {{ patient.diagnosis_date }} - {{ patient.death_date }}
              {% else %}
                {{ patient.date_of_birth }}
              {% endif %}
            {% endif %}
          </td>
          <td class="px-6 py-4 text-center {% if patient.errors|error_for_field:'sex' %}text-rcpch_red{% endif %}">
            {% if patient.errors|error_for_field:"sex" %}
              <div class="inline-flex tooltip tooltip-top"
                   data-tip="{{ patient.errors|error_for_field:'sex' }}">
                <span class="fa-stack">
                  <i class="fa-circle fa-stack-1x fas"></i>
                  <i class="fa-exclamation fa-stack-1x fa-inverse fas"></i>
                </span>
                {{ patient.get_sex_display }}
              </div>
            {% else %}
              {{ patient.get_sex_display }}
            {% endif %}
          </td>
          <td class="px-6 py-4 text-center {% if patient.errors|error_for_field:'diabetes_type' %}text-rcpch_red{% endif %}">
            {% if patient.errors|error_for_field:"diabetes_type" %}
              <div class="inline-flex tooltip tooltip-top"
                   data-tip="{{ patient.errors|error_for_field:'diabetes_type' }}">
                <span class="fa-stack">
                  <i class="fa-circle fa-stack-1x fas"></i>
                  <i class="fa-exclamation fa-stack-1x fa-inverse fas"></i>
                </span>
                {{ patient.get_diabetes_type_display }}
              </div>
            {% else %}
              {{ patient.get_diabetes_type_display }}
            {% endif %}
          </td>
          <td class="px-6 py-4 text-center {% if patient.errors|error_for_field:'diagnosis_date' %}text-rcpch_red{% endif %}">
            {% if patient.errors|error_for_field:"diagnosis_date" %}
              <div class="inline-flex tooltip tooltip-top"
                   data-tip="{{ patient.errors|error_for_field:'diagnosis_date' }}">
                <span class="fa-stack">
                  <i class="fa-circle fa-stack-1x fas"></i>
                  <i class="fa-exclamation fa-stack-1x fa-inverse fas"></i>
                </span>
                {{ patient.diagnosis_date }}
              </div>
            {% else %}
              {{ patient.diagnosis_date }}
            {% endif %}
          </td>
          <td class="px-6 py-4 text-center {% if patient.errors|error_for_field:'postcode' %}text-rcpch_red{% endif %}">
            {% if patient.errors|error_for_field:"postcode" %}
              <div class="inline-flex tooltip tooltip-top"
                   data-tip="{{ patient.errors|error_for_field:'postcode' }}">
                <span class="fa-stack">
                  <i class="fa-circle fa-stack-1x fas"></i>
                  <i class="fa-exclamation fa-stack-1x fa-inverse fas"></i>
                </span>
                {{ patient.postcode }}
              </div>
            {% else %}
              {{ patient.postcode }}
            {% endif %}
          </td>
          <td class="px-6 py-4 text-center {% if patient.errors|error_for_field:'index_of_multiple_deprivation_quintile' %}text-rcpch_red{% endif %}">
            {% if patient.errors|error_for_field:"index_of_multiple_deprivation_quintile" %}
              <div class="inline-flex tooltip tooltip-top"
                   data-tip="{{ patient.errors|error_for_field:'index_of_multiple_deprivation_quintile' }}">
                <span class="fa-stack">
                  <i class="fa-circle fa-stack-1x fas"></i>
                  <i class="fa-exclamation fa-stack-1x fa-inverse fas"></i>
                </span>
                {{ patient.index_of_multiple_deprivation_quintile }}
              </div>
            {% else %}
              {{ patient.index_of_multiple_deprivation_quintile }}
            {% endif %}
          </td>
          <td class="px-6 py-4 text-center">
            {{ patient.distance_from_lead_organisation|round_distance:1 }} km
          </td>
          <td class="text-right whitespace-nowrap">
            <a href="{% url 'patient_visits' patient.pk %}"
               class="align-center flex tooltip tooltip-left {% if patient.visit_error_count < 1 %} text-rcpch_pink {% else %} text-rcpch_red {% endif %}"
               data-tip="{% if patient.visit_error_count > 0 %} {{ patient.visit_error_count }} visit{{ patient.visit_error_count|pluralize }} {{ patient.visit_error_count|pluralize:'has, have' }} errors that need addressing. Items have been saved but will not be included until rectified. {% else %} View patient visits April {{ request.session.selected_audit_year }} - March {{ request.session.selected_audit_year|add:'1' }} {% endif %}">
              {% if patient.visit_error_count > 0 %}
                <span class="fa-stack">
                  <i class="fa-circle fa-stack-1x fas"></i>
                  <i class="fa-exclamation fa-stack-1x fa-inverse fas"></i>
                </span>
                <strong class="text-rcpch_red self-center px-2">Visits ({{ patient.visit_error_count }}/{{ patient.visits_this_audit_year }})</strong>
              {% else %}
                <strong class="text-rcpch_pink self-center">Visits ({{ patient.visits_this_audit_year }})</strong>
              {% endif %}
              <!-- caret -->
              <svg class="w-8 h-8 self-center"
                   width="24"
                   height="24"
                   viewBox="0 0 24 24"
                   stroke-width="2"
                   stroke="currentColor"
                   fill="none"
                   stroke-linecap="round"
                   stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <polyline points="9 6 15 12 9 18" />
              </svg>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      {% include 'partials/page_elements/patient_table_page_controls.html' %}
    </tfoot>
  </table>
  {% include 'partials/patient_table_tips.html' with pz_code=pz_code %}
</div>
{% else %}
<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold font-montserrat text-rcpch_light_blue">
        {% if can_complete_questionnaire %}
          Start your {{ selected_audit_year }} submission by adding a patient...
        {% else %}
          You have no patients in your submission for {{ selected_audit_year }}...
        {% endif %}
      </h1>
      <i class="fa-solid fa-hand-sparkles text-5xl text-rcpch_light_blue opacity-0 animate-sparkle mt-2"></i>
      {% if can_alter_this_audit_year_submission %}
        <div class="py-6">
          {% if request.session.can_complete_questionnaire %}
            <a href="{% url 'patient-add' %}"
               class="btn btn-info h-auto w-full md:w-auto">
              <i class="fa-solid fa-person-circle-plus"></i>
              Add patient
            </a>
          {% else %}
            <a href="{% url 'upload_csv' %}"
               class="btn btn-info h-auto w-full md:w-auto">
              <i class="fa-solid fa-person-circle-plus"></i>
              Upload CSV
            </a>
          {% endif %}
        </div>
        <p class="mt-2 font-montserrat">
          <i>(You can also find this button in the search bar at the top)</i>
        </p>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
