{% load npda_tags %}
<h1 class="text-3xl font-montserrat font-semibold text-rcpch_dark_blue">Patients under the care of {{pz_code}}</h1>
{% if patient_list %}
<table class="table table-md w-full text-sm text-left rtl:text-right text-gray-500 text-gray-400 mb-5 font-montserrat">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 bg-rcpch_dark_blue text-white">
            <tr>
                <th scope="col" class="px-2 py-3 text-center">NPDA ID</th>
                <th scope="col" class="px-2 py-3 text-center">NHS Number</th>
                <th scope="col" class="px-2 py-3 text-center">Sex</th>
                <th scope="col" class="px-2 py-3 text-center">Date of Birth</th>
                <th scope="col" class="px-2 py-3 text-center">Postcode</th>
                <th scope="col" class="px-2 py-3 text-center">Ethnicity</th>
                <th scope="col" class="px-2 py-3 text-center">Diabetes Type</th>
                <th scope="col" class="px-2 py-3 text-center">Diagnosis Date</th>
                <th scope="col" class="px-2 py-3 text-center">Date Uploaded</th>
                <th scope="col" class="px-2 py-3 text-center">Audit Year</th>
                <th scope="col" class="px-2 py-3 text-center">Latest Quarter</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
                {% for patient in patient_list %}
                {% if patient.is_valid and patient.visit_error_count < 1 and forloop.counter0 == 0 %}
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 bg-rcpch_strong_blue text-white">
                    <tr>
                        <th colspan="12" class="px-6 py-3">Patients where all records have been validated: {{total_valid_patients}}</th>
                    </tr>
                </thead>
                {% else %}
                    {% if forloop.counter == index_of_first_invalid_patient %}
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 bg-rcpch_strong_blue text-white">
                        <tr>
                            <th colspan="12" class="px-6 py-3">Patients with records failing validation: {{total_invalid_patients}}</th>
                        </tr>
                    </thead>
                    {% endif %}
                {% endif %}
                <tr 
                    {% if patient.is_valid and patient.visit_error_count < 1 %} 
                    class="border-b bg-white text-rcpch_light_blue border-gray-100 hover:bg-r hover:bg-rcpch_light_blue hover:text-white"  
                    {% else %} 
                    class="border-b bg-rcpch_red_light_tint3 text-rcpch_red border-gray-100 hover:bg-r hover:bg-rcpch_red_light_tint2 hover:text-white" 
                    {% endif %}>
                    <td><a href="{% url 'patient-update' patient.pk %}" class="px-2 flex text-center hover:text-rcpch_pink"><strong>{{ patient.pk }}</strong></a></td>
                    <td class="px-6 py-4 text-center items-center">
                        {% if patient.errors|error_for_field:"nhs_number" %}
                        <div class="relative has-tooltip items-center">
                            <span class='absolute tooltip rounded shadow-lg px-2 py-2 bg-gray-500 text-white -mt-24'>{{patient.errors|error_for_field:"nhs_number"}}</span>
                            <svg class="mt-5 mr-2" height="16" style="overflow:visible;enable-background:new 0 0 32 32" viewBox="0 0 32 32" width="16" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
                        </div>&nbsp;
                        {% endif %}
                        {{ patient.nhs_number }}
                    </td>
                    <td class="px-6 py-4 text-center items-center">
                        {% if patient.errors|error_for_field:"sex" %}
                            <div class="has-tooltip items-center">
                                <span class='tooltip rounded shadow-lg px-2 py-2 bg-gray-500 text-white -mt-4'>{{patient.errors|error_for_field:"sex"}}</span>
                                <svg height="16" style="overflow:visible;enable-background:new 0 0 32 32" viewBox="0 0 32 32" width="16" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
                            </div>&nbsp;
                        {% endif %}
                        {{ patient.get_sex_display }}
                    </td>
                    <td class="px-6 py-4 items-center">
                        {% if patient.errors|error_for_field:"date_of_birth" %}
                        <div class="has-tooltip items-center">
                        <span class='tooltip rounded shadow-lg px-2 py-2 bg-gray-500 text-white -mt-4'>{{patient.errors|error_for_field:"date_of_birth"}}</span>
                        <svg height="16" style="overflow:visible;enable-background:new 0 0 32 32" viewBox="0 0 32 32" width="16" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
                        </div>&nbsp;
                        {% endif %}
                        {{ patient.date_of_birth }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        {% if patient.errors|error_for_field:"postcode" %}
                        <div class="has-tooltip items-center">
                        <span class='tooltip rounded shadow-lg px-2 py-2 bg-gray-500 text-white -mt-4'>{{patient.errors|error_for_field:"postcode"}}</span>
                        <svg height="16" style="overflow:visible;enable-background:new 0 0 32 32" viewBox="0 0 32 32" width="16" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
                        </div>&nbsp;
                        {% endif %}
                        {{ patient.postcode }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        {% if patient.errors|error_for_field:"ethnicity" %}
                        <div class="has-tooltip items-center">
                        <span class='tooltip rounded shadow-lg px-2 py-2 bg-gray-500 text-white -mt-4'>{{patient.errors|error_for_field:"ethnicity"}}</span>
                        <svg height="16" style="overflow:visible;enable-background:new 0 0 32 32" viewBox="0 0 32 32" width="16" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
                        </div>&nbsp;
                        {% endif %}
                        {{ patient.get_ethnicity_display }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        {% if patient.errors|error_for_field:"diabetes_type" %}
                        <div class="has-tooltip items-center">
                        <span class='tooltip rounded shadow-lg px-2 py-2 bg-gray-500 text-white -mt-4'>{{patient.errors|error_for_field:"diabetes_type"}}</span>
                        <svg height="16" style="overflow:visible;enable-background:new 0 0 32 32" viewBox="0 0 32 32" width="16" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
                        </div>&nbsp;
                        {% endif %}
                        {{ patient.get_diabetes_type_display }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        {% if patient.errors|error_for_field:"diagnosis_date" %}
                        <div class="has-tooltip items-center">
                        <span class='tooltip rounded shadow-lg px-2 py-2 bg-gray-500 text-white -mt-4'>{{patient.errors|error_for_field:"diagnosis_date"}}</span>
                        <svg height="16" style="overflow:visible;enable-background:new 0 0 32 32" viewBox="0 0 32 32" width="16" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
                        </div>&nbsp;
                        {% endif %}
                        {{ patient.diagnosis_date }}
                    </td>
                    <td class="px-6 py-4 text-center">
                            {{patient.last_upload_date|date:"d/m/Y H:m:s"}}
                    </td>
                    <td class="px-6 py-4 text-center">
                            {{patient.audit_year}}
                    </td>
                    <td class="px-6 py-4 text-center">
                            {{ patient.latest_quarter|default:'-' }}</td>
                    <td class="px-2 text-right w-80 relative group">
                        <!-- <div class="has-tooltip"> -->
                        <a 
                        href="{% url 'patient_visits' patient.pk %}" 
                        {% if patient.is_valid and patient.visit_error_count < 1 %} 
                        class="text-rcpch_pink px-2 flex justify-end align-center hover:text-white"
                        {% else %}
                        class="text-rcpch_red hover:text-white flex justify-end"
                        {% endif %}
                        >
                        <!-- <span class='tooltip '></span>  -->
                            {% if not patient.is_valid or patient.visit_error_count > 0 %}
                            <strong class="text-rcpch_red hover:text-white px-2 self-center">Visits ({{patient.visit_set.all.count}})</strong>
                            <!-- info icon -->
                            <svg 
                                class="self-center hover:text-white text-rcpch_red" 
                                height="16" style="overflow:visible;enable-background:new 0 0 32 32" 
                                viewBox="0 0 32 32" width="16" 
                                xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g><g id="Error_1_"><g id="Error">
                                <circle cx="16" cy="16" id="BG" r="16" fill="currentColor"/>
                                <path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/>
                                </g></g></g>
                                </svg>
                            <div class="tooltip-content hidden group-hover:block absolute rounded shadow-lg px-2 py-2 bg-gray-800 text-white -mt-20 text-left hover:text-white font-montserrat">
                                {{patient.visit_error_count}} visit{{patient.visit_error_count|pluralize}} {{patient.visit_error_count|pluralize:'has, have'}} errors that need addressing.<br>Items have been saved but will not be included until rectified.
                            </div>
                            {% else %}
                            <strong class="text-rcpch_pink hover:text-white self-center">Visits ({{patient.visit_set.all.count}})</strong>
                            {% endif %}
                            <!-- caret -->
                            <svg
                                {% if patient.is_valid and patient.visit_error_count < 1 %}
                                class="h-8 w-8 text-rcpch_pink self-center hover:text-white"
                                {% else %}
                                class="h-8 w-8 text-rcpch_red hover:text-white self-center hover:text-white"
                                {% endif %}
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  
                                <path stroke="none" d="M0 0h24v24H0z"/>  <polyline points="9 6 15 12 9 18" />
                                </svg>
                            </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="text-xs text-gray-700 uppercase bg-gray-50 bg-rcpch_dark_blue text-white py-5">
                    <th colspan="12" class="px-2">
                        <strong>
                        Total: {{patient_list.count}} patients
                        </strong>
                    </th>
                </tr>
            </tfoot>
    </table>
{% else %}
    <h5 class="mb-5 font-montserrat font-semibold">No patients yet!</h5>
{% endif %}