{% extends 'base.html' %}
{% load npda_tags %}
{% block content %}
  <div class="w-full max-w-3xl mx-auto bg-white font-montserrat border-rcpch_light_blue border-solid border-4 border-t-0">
    <div class="text-center text-white bg-rcpch_strong_blue py-5 border-solid border-4 border-rcpch_strong_blue mt-5">
      <h1 class="text-3xl font-bold">Paediatric Diabetes Unit Membership</h1>
    </div>
    <div class="container mt-5 mb-5 px-5">
      <p class="text-lg font-semibold mb-4">
        Update the Paediatric Diabetes Unit Membership for {{ npda_user.get_full_name }}.
      </p>
      <p class="mb-4">
        Select the primary Paediatric Diabetes Unit for this user and add or remove other units as necessary.
      </p>
      <div id="primary_pdu" class="mb-4">
        {% include 'partials/employers.html' with organisation_employers=organisation_employers employer_choices=employer_choices %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
