{% csrf_token %}
{% load npda_tags %}
<div role="alert" class="alert border-t-1 border-blue-400 shadow-lg mt-5">
  <i class="fa-2xl fa-info-circle fa-solid"></i>
  <div>
    <h3 class="font-bold">Important Information</h3>
    <div class="text-xs">
      You are about to upload data to the NPDA for <strong>{{ pdu.pz_code }} ({{ pdu.lead_organisation_name }})</strong>.
      {% if not request.user.is_rcpch_audit_team_member and pdu_choices|length > 1 %}
        <p class="text-xs mt-2 mb-2">
          If this is incorrect, please select the correct employer below.
        </p>
        <form class="filter">
          {% for pdu_choice in pdu_choices %}
            {% if pdu_choice.0 != pdu.pz_code %}
            <a class="btn text-xs" href="{% data_url 'pdu-upload-csv' pz_code=pdu_choice.0 %}">
              {{ pdu_choice.0 }} ({{ pdu_choice.1 }})
            </a>
            {% endif %}
          {% endfor %}
        </form>
      {% endif %}
      {% if request.user.is_rcpch_audit_team_member or request.user.is_rcpch_staff or request.user.is_superuser %}
        <p class="text-xs mt-2 mb-2">
          If you are an RCPCH staff member or part of the audit team, you can upload data for any employer. To change the selected paediatric diabetes unit user the filter button in the top right-hand corner.
        </p>
      {% endif %}
    </div>
  </div>
</div>
