{% load npda_tags %}
<div class="stats stats-vertical shadow text-rcpch_pink">
  <div class="stat">
    <div class="stat-figure text secondary">
      <i class="fa-solid fa-trophy fa-2xl"></i>
    </div>
    <div class="stat-title">Latest Submission</div>
    <div class="stat-value">
      {{ submission_statistics.latest_submission.pdu.pz_code|none_to_dash }}
    </div>
    <div class="stat-desc">
      {{ submission_statistics.latest_submission.pdu.lead_organisation_name|none_to_dash }} on {{ submission_statistics.latest_submission.submission_date|none_to_dash }}
    </div>
  </div>
  <div class="stat shadow">
    <div class="stat-title">Submission with fewest Errors</div>
    <div class="stat-figure">
      <i class="fa-solid fa-trophy fa-2xl"></i>
    </div>
    <div class="stat-value">
      {{ submission_statistics.fewest_errors.error_number|none_to_dash }}
    </div>
    <div class="stat-desc">
      {{ submission_statistics.fewest_errors.pdu.lead_organisation_name|none_to_dash }} ({{ submission_statistics.fewest_errors.pdu.pz_code|none_to_dash }})
    </div>
  </div>
  <div class="stat">
    <div class="stat-figure">
      <i class="fa-solid fa-trophy fa-2xl"></i>
    </div>
    <div class="stat-title">Most Patients</div>
    <div class="stat-value">
      {{ submission_statistics.most_patients.patient_number|none_to_dash }}
    </div>
    <div class="stat-desc">
      {{ submission_statistics.most_patients.pdu.lead_organisation_name|none_to_dash }} ({{ submission_statistics.most_patients.pdu.pz_code|none_to_dash }})
    </div>
  </div>
  <div class="stat">
    <div class="stat-figure">
      <i class="fa-solid fa-trophy fa-2xl"></i>
    </div>
    <div class="stat-title">Most Visits/Patient</div>
    <div class="stat-value">
      {{ submission_statistics.most_visits.visit_number_per_patient|none_to_dash }}
    </div>
    <div class="stat-desc">
      {{ submission_statistics.most_visits.pdu.lead_organisation_name|none_to_dash }} ({{ submission_statistics.most_patients.pdu.pz_code|none_to_dash }})
    </div>
  </div>
</div>
