{% load static %}
{% load npda_tags %}
{% load humanize %}
<div>
  {% if not request.user.is_rcpch_audit_team_member %}
    <div class="flex flex-row items-center">
      <h1 class="font-montserrat text-md text-rcpch_dark_blue font-semibold">
        All Submissions for {{ lead_organisation }} ({{ pz_code }})
      </h1>
    </div>
  {% else %}
    <h1 class="font-montserrat text-md text-rcpch_dark_blue font-semibold">
      All Submissions Nationally
    </h1>
    <span class="label-text text-rcpch_dark_blue font-semibold flex flex-row items-center">
      <input type="checkbox"
             class="toggle text-rcpch_dark_blue font-semibold checked:bg-rcpch_pink checked:border-rcpch_pink checked:text-rcpch_pink"
             name="toggle_inactive_submissions"
             hx-trigger="change"
             value="on"
             {% if toggle_inactive_submissions == "on" %}checked="checked"{% endif %}
             hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
             hx-post="{% data_url 'pdu-submissions' %}"
             hx-include="this"
             hx-target="#submissions_table" />
      <label class="label cursor-pointer">Show inactive submissions</label>
    </span>
  {% endif %}
  {% if submissions %}
    <div class="max-h-screen overflow-clip">
      <div class="w-full overflow-x-auto overflow-y-auto"
           style="max-height:inherit">
        <table class="font-montserrat table-pin-cols table mb-5 text-sm text-left text-gray-500 border-collapse table-auto">
          <thead class="bg-rcpch_dark_blue text-xs text-white uppercase">
            <tr class="bg-rcpch_dark_blue z-40 text-white">
              <td>Submission Date</td>
              <td>Submitted By</td>
              <td>Audit Year</td>
              <td>Patient Qty</td>
              <td>Status</td>
              {% if request.user.is_rcpch_audit_team_member %}<td>PDU</td>{% endif %}
              <td>Actions</td>
            </tr>
          </thead>
          <tbody>
            {% for submission in submissions %}
              {% if forloop.first %}
                <tr class="border-b border-gray-100 hover:text-white text-white hover:bg-rcpch_pink bg-rcpch_strong_blue">
                {% else %}
                  <tr class="text-slate-500 bg-slate-100 border-b border-gray-100 hover:bg-r hover:bg-rcpch_mid_grey hover:text-white">
                  {% endif %}
                  <td class="text-nowrap">
                    {% if submission_errors and submission.submission_active %}
                      <div class="tooltip tooltip-right"
                           data-tip="We found some errors with this submission. Please check the Quality Report and try to reupload.">
                        <i class="fa-circle-exclamation fa-solid"></i>
                      </div>
                    {% endif %}
                    <div class="tooltip tooltip-right" data-tip="Uploaded at {{ submission.submission_date|date:"H:i:s" }} on {{ submission.submission_date|date:"d/m/Y" }}">
                      {{ submission.submission_date|naturaltime }}
                    </div>
                  </td>
                  <td>{{ submission.submission_by }}</td>
                  <td>{{ submission.audit_year }}</td>
                  <td>
                    <div class="tooltip"
                         data-tip="Total of {{ submission.patient_count|default:"?" }} patients uploaded in this submission">
                      {{ submission.patient_count|default:"?" }}
                    </div>
                  </td>
                  <td>
                    {% if submission.submission_active %}
                      <span class="bg-rcpch_pink py-0.25 px-1 mx-1 my-1 text-sm font-semibold text-white">
                        <small>ACTIVE</small>
                      </span>
                      {% if submission.errors %}
                        <span class="bg-rcpch_red py-0.25 px-1 mx-1 my-1 text-sm font-semibold text-white tooltip tooltip-right"
                              data-tip="We found some errors with this submission. Please check the Quality Report and try to reupload.">
                          <i class="fa-solid fa-bug"></i>
                        </span>
                      {% endif %}
                    {% else %}
                      <span class="bg-rcpch_dark_blue py-0.25 px-1 mx-1 my-1 text-sm font-semibold text-white">
                        <small>INACTIVE</small>
                      </span>
                    {% endif %}
                  </td>
                  {% if request.user.is_rcpch_audit_team_member %}
                    <td>
                      {{ submission.paediatric_diabetes_unit.pz_code }} ({{ submission.paediatric_diabetes_unit.lead_organisation_name }})
                    </td>
                  {% endif %}
                  <td class="flex flex-row flex-wrap justify-start items-stretch gap-2 xl:flex-nowrap">
                    <form method="post"
                          action="{% data_url 'pdu-submissions' %}"
                          class="join grow xl:max-w-max">
                      {% csrf_token %}
                      <input type="hidden" name="audit_id" value="{{ submission.pk }}">
                      {% if submission.submission_active %}
                        <!-- data quality report only visible for PDU view -->
                        {% if submission.csv_file_name and perms.npda.can_download_csv %}
                          <div class="join join-vertical grow items-center lg:join-horizontal">
                            <div class="h-full flex grow items-center px-2 text-white bg-gray-400">
                              <i class="fa-download fas mr-1"></i> Download:
                            </div>
                            <div class="h-full flex items-center p-1 text-white bg-gray-400">
                              <button name="submit-data"
                                      value="download-report"
                                      type="submit"
                                      class="btn bg-rcpch_light_blue btn-sm join-item h-auto px-2 py-1 mr-2 font-semibold text-white rounded-none hover:bg-rcpch_pink hover:text-white"
                                      onclick="quality_report_modal.showModal()">
                                <div class="tooltip tooltip-bottom"
                                     data-tip="Download a spreadsheet (.xlsx) that shows your uploaded data with validation comments">
                                  <i class="fa-file-excel fa-solid"></i> Quality Report
                                </div>
                              </button>
                              <!-- Pop up which shows data protection guidance for quality report download -->
                              {% include 'partials/page_elements/quality_report_popup.html' %}
                            {% endif %}
                            {% if perms.npda.can_download_csv %}
                              <button name="submit-data"
                                      value="download-data"
                                      type="submit"
                                      class="btn bg-rcpch_light_blue btn-sm join-item h-auto px-2 py-1 font-semibold text-white rounded-none hover:bg-rcpch_pink hover:text-white"
                                      onclick="original_data_modal.showModal()">
                                <div class="tooltip tooltip-bottom"
                                     data-tip="Download a copy of the uploaded .CSV file">
                                  <i class="fa-file-csv fa-solid"></i>
                                  Raw Data
                                </div>
                              </button>
                            {% endif %}
                            <!-- Pop up which shows data protection guidance for original data download -->
                            {% include 'partials/page_elements/original_data_popup.html' %}
                          </div>
                        </div>
                      {% else %}
                        {% if perms.npda.delete_submission %}
                          {% comment %}only those with permission can see this button{% endcomment %}
                          <button name="submit-data"
                                  value="delete-data"
                                  type="submit"
                                  class="join-item bg-rcpch_red text-white font-semibold hover:text-white py-1 px-2 border border-rcpch_red hover:bg-rcpch_red_dark_tint hover:border-rcpch_red_dark_tint btn-sm rounded-none {% if submission.submission_active %}opacity-50 cursor-not-allowed{% endif %}  h-auto">
                            Delete {% comment %} only inactive submissions can be deleted {% endcomment %}
                          </button>
                        {% endif %}
                      {% endif %}
                    </form>
                    {% if submission.submission_active %}
                      <a href="{% data_url 'pdu-patients' %}"
                         class="bg-rcpch_light_blue border-[6px] border-rcpch_light_blue btn-sm w-full h-auto grow px-2 py-1 font-semibold text-center text-white rounded-none hover:bg-rcpch_pink hover:border-rcpch_pink hover:text-white xl:max-w-max">
                        <div class="tooltip tooltip-left"
                             data-tip="View submission details, including the patients uploaded.">
                          View Submission <i class="fa-eye fa-solid"></i>
                        </div>
                      </a>
                    {% endif %}
                  </td>
                </tr>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr class="bg-rcpch_dark_blue py-5 text-xs text-white uppercase">
              <th colspan="11" class="px-2"></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    {% if data is not None %}
      {% include 'partials/data_quality_report.html' with data=data submission_errors=submission_errors %}
    {% else %}
      <p class="text-gray-400">
        No data quality report available for {{ request.session.pz_code }}.
      </p>
    {% endif %}
  {% else %}
    <!-- No submissions so far -->
    <p class="text-gray-400">
      No submissions uploaded yet for {{ request.session.pz_code }}.
    </p>
  {% endif %}
</div>
<script>
  {% comment %} const toggle = document.getElementsByName('inactive-toggle')[0]; {% endcomment %}
  {% comment %} console.log(toggle.checked) {% endcomment %}


</script>
