{% csrf_token %}
<div role="alert" class="alert border-t-1 border-blue-400 shadow-lg mt-5">
  <i class="fa-2xl fa-info-circle fa-solid"></i>
  <div>
    <h3 class="font-bold">Important Information</h3>
    <div class="text-xs">
      You are about to upload data to the NPDA for <strong>{{ request.session.pz_code }} ({{ request.session.lead_organisation }})</strong>.
      {% if employers|length > 1 %}
        <p class="text-xs mt-2 mb-2">
          If this is incorrect, please select the correct employer below.
        </p>
        <form class="filter">
          {% for employer in employers %}
            <input class="btn filter-reset"
                   {% if employer.paediatric_diabetes_unit.pz_code == request.session.pz_code %}checked{% endif %}
                   hx-post="{% url 'switch_paediatric_diabetes_unit' %}"
                   hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                   hx-trigger="click"
                   hx-target="#employer-selector"
                   hx-swap="innerHTML"
                   type="radio"
                   name="employers"
                   value="{{ employer.paediatric_diabetes_unit.pz_code }}"
                   aria-label="{{ employer.paediatric_diabetes_unit.lead_organisation_name }} ({{ employer.paediatric_diabetes_unit.pz_code }})" />
          {% endfor %}
        </form>
      {% endif %}
      {% if request.user.is_rcpch_audit_team_member or request.user.is_rcpch_staff or request.user.is_superuser %}
        <p class="text-xs mt-2 mb-2">
          If you are an RCPCH staff member or part of the audit team, you can upload data for any employer. To change the selected paediatric diabetes unit user the filter button in the top right-hand corner.
        </p>
      {% endif %}
    </div>
  </div>
</div>
