{% load static %}
<div class="flex flex-col">
    <div class="join join-horizontal lg:join-horizontal rounded-none pt-5" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <input hx-post="{{hx_post}}" hx-target="{{hx_target}}" hx-trigger="click" hx-swap="innerHTML" class="join-item btn bg-rcpch_light_blue hover:bg-rcpch_dark_blue text-white font-montserrat focus:bg-rcpch_pink border-rcpch_light_blue form-check-input form-checked:bg-red form-checked:text-white" type="radio" name="view_preference" value="0" aria-label="Organisation - {{ods_code}}" {% if view_preference == 0 %} checked {% endif %} />
        <input hx-post="{{hx_post}}" hx-target="{{hx_target}}" hx-trigger="click" hx-swap="innerHTML" class="join-item btn bg-rcpch_light_blue hover:bg-rcpch_dark_blue text-white font-montserrat focus:bg-rcpch_pink border-rcpch_light_blue" type="radio" name="view_preference" value="1" aria-label="Paediatric Diabetes Unit - {{pz_code}}" {% if view_preference == 1 %} checked {% endif %} />
        <input hx-post="{{hx_post}}" hx-target="{{hx_target}}" hx-trigger="click" hx-swap="innerHTML" class="join-item btn bg-rcpch_light_blue hover:bg-rcpch_dark_blue text-white font-montserrat focus:bg-rcpch_pink border-rcpch_light_blue" type="radio" name="view_preference" value="2" aria-label="National" {% if view_preference == 2 %} checked {% endif %} />
    </div>
    <div class="w-full max-w-custom">
        {% if view_preference == 0 %}
            <select name="{{ ods_code_select_name }}" class="select rcpch-select rounded-none w-full" hx-post="{{hx_post}}" hx-trigger="change" hx-target="{{hx_target}}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                {% for choice in organisation_choices %}
                <option value="{{choice.0}}" {% if ods_code == choice.0 %} selected="{{ ods_code }}" {% endif %}>{{choice.1}}</option>
                {% endfor %}
            </select>
        {% elif view_preference == 1 %}
            {% if request.user.is_superuser or request.user.is_rcpch_audit_team_member or request.user.is_rcpch_staff %}
                <select name="{{ pz_code_select_name }}" class="select rcpch-select rounded-none w-full" hx-post="{{hx_post}}" hx-trigger="change" hx-target="{{hx_target}}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                    {% for pdu_choice in pdu_choices %}
                    <option value="{{pdu_choice.1}}" {% if chosen_pdu == pdu_choice.1 %} selected="{{ chosen_pdu }}" {% endif %}>{{pdu_choice.1}}</option>
                    {% endfor %}
                </select>
            {% endif %}
        {% endif %}
    </div>
</div>