{% extends 'base.html' %}
{% load static %}
{% load npda_tags %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="hero bg-base-100 min-h-screen">
      <div class="hero-content flex-col lg:flex-row">
        <img src="{% static 'images/npda-logo-white.png' %}"
             alt="NPDA Logo"
             class="w-1/4 mx-auto mb-1" />
        <div class="max-w-md">
          <h1 class="text-4xl font-bold text-rcpch_red font-montserrat">
            Confirmation Required
          </h1>
          <h2 class="text-1xl font-bold text-rcpch_red font-montserrat">
            Deleting patient {% nhs_number_vs_urn pz_code %} {% nhs_number_vs_urn pz_code object %}
          </h2>
          <p class="my-4">
            Are you sure you want to delete this patient? This action cannot be undone.
          </p>
          <button class="rcpch-danger-btn" type="submit" value="Delete" name="delete">
            Delete
          </button>
          <button class="btn rcpch-btn bg-rcpch_yellow_light_tint1 border border-rcpch_yellow_light_tint1 hover:bg-rcpch_yellow hover:border-rcpch_yellow"
                  type="submit"
                  value="Cancel"
                  name="cancel">Cancel</button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
