{% extends 'base.html' %}
{% block content %}
<div class="bg-rcpch_light_blue py-8">
  <div class="w-full max-w-3xl mx-auto px-2 py-4 m-2 shadow-md bg-white font-montserrat">
    <strong>{{title}}</strong>
    <form id="update-form" method="post" action="">
      {% csrf_token %}
      {% for field in form %}
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label for="{{ field.id_for_label }}" class="block text-gray-700 font-bold md:text-right mb-1 md:mb-0 pr-4"><small>{{ field.label }}</small></label>
          </div>
          <div class="md:w-2/3">
            {% if field.html_name == "sex" or field.html_name == "diabetes_type" or field.html_name == "ethnicity" %}
              <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="select rcpch-select">
                {% for choice in field.field.choices %}
                  <option>{{choice.1}}</option>
                {% endfor %}
              </select>
            {% else %}
              <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="input rcpch-input-text">
            {% endif %}
              {% for error in field.errors %}
              <p>
                <strong class="text-gray-700">{{ error|escape }}</strong>
              </p>  
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      
      <div class="flex justify-end">
        <a role="button" class="btn rcpch-btn" href='{% url 'patients' %}'>Back to list</a>
        <button type="submit" value="Submit" class="btn rcpch-btn">{{button_title}}</button>
      </div>
      {% if form_method == 'update' %}
      <a class="bg-rcpch_red text-white font-semibold hover:text-white py-2.5 px-3 mt-20 border border-rcpch_red hover:bg-rcpch_red_dark_tint hover:border-rcpch_red_dark_tint" href="{% url 'patient-delete' patient_id %}">Delete</a>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}