{% extends 'base.html' %}
{% load npda_tags %}
{% csrf_token %}
{% block content %}
<div class="flex justify-center bg-white py-8">
  <div class="w-full mx-96 px-2 bg-white font-montserrat">
    <strong>{{ title }} - NPDA Patient {{ patient_id }} {% if visit_id %}- NPDA Visit No. {{ visit_id }} {% endif %}</strong>
    <form id="update-form" method="post" {% if form_method == "create" %} action="{% url 'visit-create' patient_id %}" {% else %} action="{% url 'visit-update' patient_id=patient_id pk=visit.pk %}" {% endif %}>
      {% csrf_token %}
      {% for field in form %}
        {% if field.field.category is None %}
        <!-- visit date box -->
          <div class="md:flex md:items-center mb-6 mt-2 {% if background_colour %} bg-{{background_colour}} {% endif %}" >
            <div class="md:w-1/3">
                <label for="{{ field.id_for_label }}" class="block text-gray-700 font-bold md:text-right mb-1 md:mb-0 pr-4"><small>{{ field.label }}</small></label>
            </div>
            <div class="flex space-between md:w-2/3">
              {% if field.id_for_label == "id_visit_date" %}
                <input type="date" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="input rcpch-input-text" {% if field.value %} value={{ field.value|stringformat:'s' }} {% endif %}>
                <button type='button' _="on click set #{{ field.id_for_label}}'s value to '{% today_date %}'" class="btn rcpch-btn bg-rcpch_light_blue border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">Today</button>
              {% endif %}
              {% for error in field.errors %}
                <p>
                  <strong class="text-gray-700">{{ error|escape }}</strong>
                </p>  
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}

      <div role="tablist" class="tabs">
        <input type="radio" name="my_tabs_1" role="tab" 
          class="tab font-bold mb-2 text-black
          
          {% if routine_measurements_categories_with_errors and form_method == 'update' %} 
            bg-rcpch_red
            {% else %} 
            bg-rcpch_light_blue
          {% endif %}" 
          aria-label="Routine&nbsp;Measurements" checked
        />
        <!-- This is the Routine measurements tab -->
        <div role="tabpanel" class="tab-content rounded-none">
        {% for field_category in form.categories %}
          {% with field_category|colour_for_category as background_colour %}
          {% if field_category == "Measurements" or field_category == "HBA1c" or field_category == "Treatment" or field_category == "CGM" or field_category == "BP"%} 
            <div class="flex flex-col mb-6 
              {% if background_colour %} 
                bg-white
              {% endif %} 
              {% if field_category in routine_measurements_categories_with_errors %}
                outline outline-8 outline-rcpch_red
              {% endif %}
              border-4 border-{{background_colour}}
              "
            >
            <div class="badge badge-outline p-2 {% if background_colour %} bg-{{background_colour}} {% endif %} text-white">{{field_category}}</div>

              {% for field in form %}
                {% if field.field.category == field_category %}
                  <div class="flex flex-row my-2 mx-2">
                    <div class="flex items-center justify-end md:w-1/3">
                      <label for="{{ field.id_for_label }}" class="block text-gray-700 font-bold md:text-center mb-1 md:mb-0 pr-4"><small>{{ field.label }}</small></label>
                    </div>
                    <div class="flex space-between md:w-2/3">
                      {% if field.field.widget|is_select %}
                          <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="select rcpch-select rounded-none">
                            {% for choice in field.field.choices %}
                            <option value="{{choice.0}}" {% if field.value|stringformat:'s' == choice.0|stringformat:'s' %} selected="{{ field.value }}" {% endif %}>{{choice.1}}</option>
                            {% endfor %}
                          </select>
                      {% elif field.field.widget|is_dateinput %}
                        <input type="date" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="input rcpch-input-text" {% if field.value %} value={{ field.value|stringformat:'s' }} {% endif %}>
                        <button type='button' _="on click set #{{ field.id_for_label}}'s value to '{% today_date %}'" class="btn rcpch-btn bg-rcpch_light_blue border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">Today</button>
                        <button type='button' _="on click set #{{ field.id_for_label}}'s value to #id_visit_date.value" class="btn rcpch-btn bg-rcpch_light_blue border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">Fill with Visit Date</button>
                      {% else %}
                          <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="input rcpch-input-text rounded-none" {% if field.field.required %} placeholder="Required" {% endif %} {% if field.value %} value={{ field.value }} {% elif field.value == 0 %} value="0.0" {% endif %}>
                      {% endif %}
                      {% for error in field.errors %}
                          <p>
                            <strong class="text-gray-700">{{ error|escape }}</strong>
                          </p>  
                      {% endfor %}  
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
              {% if field_category in categories_with_errors %}
                <div>
                  <p class="text-rcpch_red_dark_tint italic font-bold">Errors for category:</p>
                  <p class="text-rcpch_red_dark_tint italic">{{ field_category|errors_for_category:visit_instance.errors|safe|linebreaksbr }}</p>
                </div>
              {% endif %}
            </div>
          {% endif %}
          {% endwith %}
        {% endfor %}
        </div>
        
          <input type="radio" name="my_tabs_1" role="tab" 
            class="tab rounded-none font-bold mb-2 text-black
            {% if annual_review_categories_with_errors and form_method == 'update' %} 
            bg-rcpch_red
            {% else %} 
              bg-rcpch_light_blue
            {% endif %}" 
            aria-label="Annual&nbsp;Review"
          />
          <!-- This is the the annual review tab -->
        <div role="tabpanel" class="tab-content rounded-none" >
          {% for field_category in form.categories %}
            {% with field_category|colour_for_category as background_colour %}
            {% if field_category == "Foot Care" or field_category == "DECS" or field_category == "ACR" or field_category == "Cholesterol" or field_category == "Thyroid" or field_category == "Coeliac" or field_category == "Psychology" or field_category == "Smoking" or field_category == "Dietician" or field_category == "Sick Day Rules" or field_category == "Immunisation (flu)" %}
              <div class="collapse collapse-arrow mb-2 rounded-none 
                {% if field_category in categories_with_errors %} 
                  border-4 border-rcpch_red
                {% else %} 
                  border-4 border-{{background_colour}}
                {% endif %}
              ">
                <input type="radio" name="my-accordion-3" checked="checked" /> 
                <div class="collapse-title p-1 pt-0 pl-0 m-0" >
                  {% if field_category in categories_with_errors %}
                    <div class="badge badge-outline badge-rcpch_red text-white bg-rcpch_red">
                      {{field_category}}
                      </div>
                  {% else %}
                    <div class="badge badge-outline bg-{{background_colour}} text-white">
                      {{field_category}}
                      </div>
                  {% endif %}
                </div>
                <div class="collapse-content flex flex-col mb-6 bg-white">
                  {% for field in form %}
                    {% if field.field.category == field_category %}
                    <div class="flex flex-row my-2 mx-2">
                      <div class="flex items-center justify-center md:w-1/3">
                        <label for="{{ field.id_for_label }}" class="text-black block font-bold mb-1 md:mb-0 pr-4 text-left"><small>{{ field.label }}</small></label>
                      </div>
                      <div class="flex space-between md:w-2/3">
                      {% if field.field.widget|is_select %}
                          <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="select rcpch-select rounded-none">
                            {% for choice in field.field.choices %}
                            <option value="{{choice.0}}" {% if field.value|stringformat:'s' == choice.0|stringformat:'s' %} selected="{{ field.value }}" {% endif %}>{{choice.1}}</option>
                            {% endfor %}
                          </select>
                      {% elif field.field.widget|is_dateinput %}
                          <input type="date" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="input rcpch-input-text" {% if field.value %} value={{ field.value|stringformat:'s' }} {% endif %}>
                          <button type='button' _="on click set #{{ field.id_for_label}}'s value to '{% today_date %}'" class="btn rcpch-btn bg-rcpch_light_blue border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">Today</button>
                          <button type='button' _="on click set #{{ field.id_for_label}}'s value to #id_visit_date.value" class="btn rcpch-btn bg-rcpch_light_blue border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">Fill with Visit Date</button>
                      {% else %}
                          <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="input rcpch-input-text rounded-none" {% if field.field.required %} placeholder="Required" {% endif %} {% if field.value %} value={{ field.value }} {% elif field.value == 0 %} value="0.0" {% endif %}>
                      {% endif %}
                      {% for error in field.errors %}
                          <p>
                            <strong class="text-rcpch_red">{{ error|escape }}</strong>
                          </p>  
                      {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                  {% endfor %}
                  {% if field_category in categories_with_errors %}
                    <div>
                      <small class="text-rcpch_red italic font-bold">Errors for category:</small>
                      <small class="text-rcpch_red italic">{{ field_category|errors_for_category:visit_instance.errors|safe|linebreaksbr }}</small>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {% endwith %}
          {% endfor %}
        </div>

        <input type="radio" name="my_tabs_1" role="tab" aria-label="Inpatient&nbsp;Entry" 
          class="tab font-bold mb-2 text-black
          {% if 'Hospital Admission' in categories_with_errors %}
            bg-rcpch_red
          {% else %}
            bg-rcpch_light_blue
          {% endif %}
        "/>
        <div 
          role="tabpanel"
          class="tab-content rounded-none">
          {% for field_category in form.categories %}
            {% with field_category|colour_for_category as background_colour %}
              {% if field_category == "Hospital Admission" %}
              <!-- This is the inpatient entry  -->
                <div class="flex flex-col mb-6
                  {% if background_colour %} 
                    border-4 border-{{background_colour}} bg-white
                  {% endif %}
                  {% if 'Hospital Admission' in categories_with_errors %}
                    outline outline-8 outline-rcpch_red
                  {% endif %}"
                >

                <div class="badge badge-outline p-2 {% if background_colour %} bg-{{background_colour}} {% endif %} text-white">{{field_category}}</div>
                
                {% for field in form %}
                    {% if field.field.category == field_category %}
                    <div class="flex flex-row my-2 mx-2">
                      <div class="flex flex-row align-items-center justify-end md:w-1/3">
                        <label for="{{ field.id_for_label }}" class="block text-gray-700 font-bold md:text-center mb-1 md:mb-0 pr-4"><small>{{ field.label }}</small></label>
                      </div>
                      <div class="flex space-between md:w-2/3">
                      {% if field.field.widget|is_select %}
                          <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="select rcpch-select rounded-none">
                            {% for choice in field.field.choices %}
                            <option value="{{choice.0}}" {% if field.value|stringformat:'s' == choice.0|stringformat:'s' %} selected="{{ field.value }}" {% endif %}>{{choice.1}}</option>
                            {% endfor %}
                          </select>
                      {% elif field.field.widget|is_dateinput %}
                          <input type="date" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="input rcpch-input-text" {% if field.value %} value={{ field.value|stringformat:'s' }} {% endif %}>
                          <button type='button' _="on click set #{{ field.id_for_label}}'s value to '{% today_date %}'" class="btn rcpch-btn bg-rcpch_light_blue border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">Today</button>
                          <button type='button' _="on click set #{{ field.id_for_label}}'s value to #id_visit_date.value" class="btn rcpch-btn bg-rcpch_light_blue border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">Fill with Visit Date</button>
                      {% else %}
                          <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="input rcpch-input-text rounded-none" {% if field.field.required %} placeholder="Required" {% endif %} {% if field.value %} value={{ field.value }} {% elif field.value == 0 %} value="0.0" {% endif %}>
                      {% endif %}
                      {% for error in field.errors %}
                          <p>
                            <strong class="text-gray-700">{{ error|escape }}</strong>
                          </p>  
                      {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                {% endfor %}
                {% if field_category in categories_with_errors %}
                  <div>
                    <p class="text-rcpch_red_dark_tint italic font-bold">Errors for category:</p>
                    <p class="text-rcpch_red_dark_tint italic">{{ field_category|errors_for_category:visit_instance.errors|safe|linebreaksbr }}</p>
                  </div>
                {% endif %}
                </div>
              {% endif %}
            {% endwith %}
          {% endfor %}
        </div>

        
              
      </div>


      <div class="flex justify-end">
        <button type="submit" value="Submit" class="btn rcpch-btn bg-rcpch_light_blue border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">{{button_title}}</button>
        <a class="btn rcpch-btn bg-rcpch_yellow_light_tint1 border border-rcpch_yellow_light_tint1 hover:bg-rcpch_yellow hover:border-rcpch_yellow" href="{% url 'patient_visits' patient_id=patient_id %}">Cancel</a>
        {% if form_method == 'update' and perms.npda.delete_visit %}
          <a class="btn rcpch-btn bg-rcpch_red text-white font-semibold hover:text-white py-2.5 px-3 border border-rcpch_red hover:bg-rcpch_red_dark_tint hover:border-rcpch_red_dark_tint" href="{% url 'visit-delete' patient_id visit.pk %}">Delete</a>
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock %}