{% extends 'base.html' %}
{% load npda_tags %}
{% csrf_token %}
{% block content %}
<div class="bg-rcpch_light_blue py-8">
  <div class="w-full max-w-3xl mx-auto px-2 py-4 m-2 shadow-md bg-white font-montserrat">
    <strong>{{title}}</strong>
    <form id="update-form" method="post" action="">
      {% csrf_token %}
      {% for field in form %}

        {% with field|match_category as field_category %}
        {% with field_category|colour_for_category as background_colour %}
        
          <strong>{% category_for_first_item form field forloop.counter %}</strong>
        

        <div class="md:flex md:items-center mb-6 {% if background_colour %} bg-{{background_colour}} {% endif %}">
          <div class="md:w-1/3">
              <label for="{{ field.id_for_label }}" class="block text-gray-700 font-bold md:text-right mb-1 md:mb-0 pr-4"><small>{{ field.label }}</small></label>
          </div>
            <div class="md:w-2/3">
              {{ field }}
              {% for error in field.errors %}
                <strong class="text-red">{{ error|escape }}</strong>  
              {% endfor %}
            </div>
        </div>

        {% endwith %}
        {% endwith %}
        
        
      {% endfor %}
      <button type="submit" value="Submit" class="bg-rcpch_light_blue text-white font-semibold hover:text-white py-2 px-3 mt-20 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">{{button_title}}</button>
      <a class="bg-rcpch_yellow_light_tint1 text-white font-semibold hover:text-white py-2.5 px-3 mt-20 border border-rcpch_yellow_light_tint1 hover:bg-rcpch_yellow hover:border-rcpch_yellow" href="{% url 'patient_visits' patient_id=patient_id %}">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}