{% extends 'base.html' %}
{% load npda_tags %}
{% csrf_token %}
{% block content %}
  <div class="flex justify-center bg-white py-8">
    <div class="max-w-full lg:max-w-[75%] px-2 bg-white font-montserrat">
      <strong>
        {{ title }} - NPDA ID {{ patient.pk }} ({% nhs_number_vs_urn pz_code %} {% nhs_number_vs_urn pz_code patient %}) at {{ paediatric_diabetes_unit.lead_organisation_name }} ({{ paediatric_diabetes_unit.pz_code }})
      </strong>
      <form id="update-form"
            method="post"
            {% if form_method == "create" %} action="{% url 'visit-create' patient_id %}" {% else %} action="{% url 'visit-update' patient_id=patient_id pk=visit.pk %}" {% endif %}>
        {% csrf_token %}
        {% for field in form %}
          {% if field.field.category is None %}
            <!-- visit date box -->
            <div class="md:flex md:items-center mb-6 mt-2 {% if background_colour %}bg-{{ background_colour }}{% endif %}">
              <div class="md:w-1/3">
                <label for="{{ field.id_for_label }}"
                       class="block text-gray-700 {% if field.errors %}text-rcpch_red{% endif %} font-bold md:text-right mb-1 md:mb-0 pr-4">
                  {% if field.errors %}
                    <span class="fa-stack text-rcpch_red">
                      <i class="fa-circle fa-stack-1x fas"></i>
                      <i class="fa-exclamation fa-stack-1x fa-inverse fas"></i>
                    </span>
                  {% endif %}
                  <small>{{ field.label }}</small>
                </label>
              </div>
              <div class="flex space-between md:w-2/3">
                {% if field.id_for_label == "id_visit_date" %}
                  <input type="date" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="input rcpch-input-text {% if not can_alter_this_audit_year_submission or not can_use_questionnaire or form.patient.is_in_transfer_in_the_last_year %} opacity-40 pointer-events-none {% endif %}" {% if field.value %}value={{ field.value|stringformat:'s' }}{% endif %}>
                  <button type='button'
                          _="on click set #{{ field.id_for_label }}'s value to '{% today_date %}'"
                          class="btn rcpch-btn bg-rcpch_light_blue border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue {% if not can_alter_this_audit_year_submission or not can_use_questionnaire  or form.patient.is_in_transfer_in_the_last_year %}opacity-40 pointer-events-none{% endif %}">
                    Today
                  </button>
                {% endif %}
              </div>
              {% if field.id_for_label == "id_visit_date" %}
                {% for error in field.errors %}
                  <p class="flex flex-row flex-wrap my-2 mx-2">
                    <strong class="text-rcpch_red">{{ error|escape }}</strong>
                  </p>
                {% endfor %}
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        <div role="tablist" class="flex flex-wrap">
          {% for tab in visit_tabs %}
            {% include 'partials/visit_form_tab.html' with checked=tab.active label=tab.name categories=tab.categories errors=tab.errors %}
          {% endfor %}
        </div>
        <div class="flex justify-end">
          <button type="submit"
                  value="Submit"
                  class="btn rcpch-btn bg-rcpch_light_blue border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue {% if not can_alter_this_audit_year_submission or not can_use_questionnaire or form.patient.is_in_transfer_in_the_last_year %}opacity-40 pointer-events-none{% endif %}">
            {{ button_title }}
          </button>
          <a class="btn rcpch-btn bg-rcpch_yellow_light_tint1 border border-rcpch_yellow_light_tint1 hover:bg-rcpch_yellow hover:border-rcpch_yellow"
             href="{% url 'patient_visits' patient_id=patient_id %}">Cancel</a>
          {% if form_method == 'update' and perms.npda.delete_visit %}
            <a class="btn rcpch-btn bg-rcpch_red text-white font-semibold hover:text-white py-2.5 px-3 border border-rcpch_red hover:bg-rcpch_red_dark_tint hover:border-rcpch_red_dark_tint {% if not can_alter_this_audit_year_submission or not can_use_questionnaire or form.patient.is_in_transfer_in_the_last_year %}opacity-40 pointer-events-none{% endif %}"
               href="{% url 'visit-delete' patient_id visit.pk %}">Delete</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
        const params = new URLSearchParams(window.location.search);

        const tabs = document.querySelectorAll('input[name="visit_tab"]');

        let anchor;

        if(window.location.hash) {
          const anchorName = window.location.hash.substring(1);

          for(let i = 0; i < tabs.length; i++) {
            const tab = tabs[i];

            anchor = tab.nextElementSibling.querySelector(`a[name="${anchorName}"]`);
            console.log({ anchorName, tab, anchor, nextElementSibling: tab.nextElementSibling, selector: `a[name="${anchorName}"]` });

            if(anchor) {
              tab.checked = true;
            } else {
              tab.checked = false;
            }
          }
        } else {
          anchor = document.querySelector('a[data-has-errors]');
        }

        if(anchor) {
          anchor.scrollIntoView({ behavior: 'smooth' });
        }
    });
  </script>
{% endblock %}
