<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" />
  <meta name="description" content="National Paediatric Diabetes Audit Platform." />
  <meta name="keywords" content="National Paediatric Diabetes Audit Platform" />
  <meta name="author" content="RCPCH" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="latest_git_commit" content="{{latest_git_commit}}" />
  <title>National Paediatric Diabetes Audit Platform | RCPCH</title>
  <link rel="icon" href="/favicon.ico"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/arial-2" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.11/dist/htmx.js"
    integrity="sha384-l9bYT9SL4CAW0Hl7pAOpfRc18mys1b0wK4U8UtGnWOxPVbVMgrOdB+jyz/WY8Jue"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

  <link href="{% static 'tailwind.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body id="root" class="bg-white">

  {% csrf_token %}
  
  {% block nav %}
  {% include 'nav.html' %}
  {% endblock %}

  {% block toasts %}
  {% include 'toasts.html' %}
  {% endblock %}
  <div>
    {% block content %}{% endblock %}
  </div>

  {% include 'footer.html' %}

</body>

</html>