<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" />
  <meta name="description" content="National Paediatric Diabetes Audit Platform." />
  <meta name="keywords" content="National Paediatric Diabetes Audit Platform" />
  <meta name="author" content="RCPCH" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="latest_git_commit" content="{{latest_git_commit}}" />
  <title>National Paediatric Diabetes Audit Platform | RCPCH</title>
  <link rel="icon" href="/favicon.ico" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link href="{% static 'tailwind.css' %}" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/arial-2" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.11/dist/htmx.js"
    integrity="sha384-l9bYT9SL4CAW0Hl7pAOpfRc18mys1b0wK4U8UtGnWOxPVbVMgrOdB+jyz/WY8Jue"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  <!-- not for production -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
  <style type="text/tailwindcss">
    @layer components {
      .rcpch-light-blue-btn {
        @apply bg-rcpch_light_blue text-white font-semibold hover:text-white py-2 px-3 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue rounded-none;
      }
      .rcpch-btn {
        @apply text-white font-semibold hover:text-white py-2.5 px-3 border border-rcpch_yellow_light_tint1 hover:bg-rcpch_yellow hover:border-rcpch_yellow rounded-none;
      }
      .rcpch-input-text {
        @apply shadow appearance-none border border-rcpch_light_blue border-4 focus:border-rcpch_pink hover:border-rcpch_pink w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none rounded-none bg-white;
      }
      .rcpch-select {
        @apply block appearance-none w-full bg-white border border-rcpch_light_blue border-4 focus:border-rcpch_pink hover:border-rcpch_pink hover:border-gray-500 px-4 py-2 pr-8 shadow leading-tight focus:outline-none rounded-none;
      }
    }
  </style>
  <script>
    tailwind.config={
      darkMode: 'media',
      theme: {
        backgroundColor: theme => ({
          ...theme('colors'),
          'rcpch_lightest_grey': '#f3f3f3',
        }),
        extend: {
          fontFamily: {
            'montserrat': ['Montserrat', 'regular'],
            'arial': ['Arial', 'sans-serif']
          },
          maxWidth: {
            'custom': '33.7rem' // Replace '30rem' with the exact width you want
          },
          colors: {
            rcpch_lightest_grey: "#f3f3f3",

            rcpch_dark_blue: "#0d0d58",
            rcpch_strong_blue: "#3366cc",
            /* 51,102,204 */
            rcpch_strong_blue_light_tint1: "#668cd9",
            rcpch_strong_blue_light_tint2: "#99b3e6",
            rcpch_strong_blue_light_tint3: "#ccd9f2",
            rcpch_strong_blue_dark_tint: "#405a97",

            /* 45,49,109 */
            rcpch_light_blue: "#11a7f2",
            rcpch_light_blue_tint1: "#4dbdf5",
            rcpch_light_blue_tint2: "#88d3f9",
            rcpch_light_blue_tint3: "#cfe9fc",
            rcpch_light_blue_dark_tint: "#0082bc",
            /* 17,167,242 */

            rcpch_pink: "#e00087",
            /* 224,0,135 */
            rcpch_pink_light_tint1: "#e840a5",
            rcpch_pink_light_tint2: "#ef80c3",
            rcpch_pink_light_tint3: "#f7bfe1",
            rcpch_pink_dark_tint: "#ab1368",

            /* monochrome */
            rcpch_white: "#ffffff",
            rcpch_light_grey: "#d9d9d9",
            /* 217,217,217 */
            rcpch_mid_grey: "#b3b3b3",
            /* 179,179,179 */
            rcpch_dark_grey: "#808080",
            /* 128,128,128 */
            rcpch_charcoal: "#4d4d4d",
            /* 77,77,77 */
            rcpch_charcoal_dark: "#191919",
            rcpch_black: "#000000",

            /* secondary colours */
            rcpch_red: "#e60700",
            rcpch_red_light_tint1: "#ec4540",
            rcpch_red_light_tint2: "#f38380",
            rcpch_red_light_tint3: "#f9c1bf",
            rcpch_red_dark_tint: "#b11d23",

            rcpch_orange: "#ff8000",
            rcpch_orange_light_tint1: "#ffa040",
            rcpch_orange_light_tint2: "#ffc080",
            rcpch_orange_light_tint3: "#ffdfbf",
            rcpch_orange_dark_tint: "#bf6914",

            rcpch_yellow: "#ffd200",
            rcpch_yellow_light_tint1: "#ffdd40",
            rcpch_yellow_light_tint2: "#ffe980",
            rcpch_yellow_light_tint3: "#fff4bf",
            rcpch_yellow_dark_tint: "#c5a000",

            rcpch_strong_green: "#66cc33",
            rcpch_strong_green_light_tint1: "#8cd966",
            rcpch_strong_green_light_tint2: "#b3e699",
            rcpch_strong_green_light_tint3: "#d9f2cc",
            rcpch_strong_green_dark_tint: "#53861b",

            rcpch_aqua_green: "#00bdaa",
            rcpch_aqua_green_light_tint1: "#40ecbf",
            rcpch_aqua_green_light_tint2: "#80ded4",
            rcpch_aqua_green_light_tint3: "#bfeeea",
            rcpch_aqua_green_dark_tint: "#2e888d",

            rcpch_purple: "#7159aa",
            rcpch_purple_light_tint1: "#ae4cbf",
            rcpch_purple_light_tint2: "#c987d4",
            rcpch_purple_light_tint3: "#e4c3ea",
            rcpch_purple_dark_tint: "#66296c",

            /* old colours */
            rcpch_gold: "#c2a712",
            rcpch_vivid_green: "#c8d400",
            rcpch_dark_red: "#9a0500",
          }
        }
      },
      variants: {
        extend: {
          backgroundColor: ['active'],
        },
      }
    }
  </script>
</head>

<body id="root" class="bg-white">

  {% csrf_token %}
  {% block nav %}
  {% include 'nav.html' %}
  {% endblock %}
  {% if messages %}
  <div class="toast toast-bottom toast-start w-full">
    {% for message in messages %}
    {% if message.tags %}{% endif %}
    <div id="alert-{{forloop.counter}}"
      class="bg-white border-t-4 border-rcpch_light_blue rounded-b text-rcpch_light_blue px-4 py-3 shadow-md"
      role="alert">
      <div class="flex">
        <div class="py-1"><svg class="fill-current h-6 w-6 text-rcpch_light_blue mr-4"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
              d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
          </svg></div>
        <div>
          <p class="font-bold">{% if message.tags %}{% endif %}</p>
          <p class="text-sm">{{ message }}</p>
        </div>
        <button type="button"
          onclick="return document.getElementById('alert-{{forloop.counter}}').className += ' hidden';"
          class="ms-auto -mx-1.5 -my-1.5 rcpch_light_blue bg-slate-100 text-rcpch_light_blue rounded-lg focus:ring-2 focus:ring-blue-400 p-1.5 hover:bg-rcpch_strong_blue hover:text-white inline-flex items-center justify-center h-8 w-8 has-tooltip"
          aria-label="Close">
          <span class="sr-only">Close</span>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages %}
  <div class="px-10">
    {% for message in messages %}
    {% if message.tags %}{% endif %}
    <div id="alert-{{forloop.counter}}"
      class="bg-white border-t-4 border-rcpch_light_blue rounded-b text-rcpch_light_blue px-4 py-3 shadow-md"
      role="alert">
      <div class="flex">
        <div class="py-1"><svg class="fill-current h-6 w-6 text-rcpch_light_blue mr-4"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
              d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
          </svg></div>
        <div>
          <p class="font-bold">{% if message.tags %}{% endif %}</p>
          <p class="text-sm">{{ message }}</p>
        </div>
        <button type="button"
          onclick="return document.getElementById('alert-{{forloop.counter}}').className += ' hidden';"
          class="ms-auto -mx-1.5 -my-1.5 rcpch_light_blue bg-slate-100 text-rcpch_light_blue rounded-lg focus:ring-2 focus:ring-blue-400 p-1.5 hover:bg-rcpch_strong_blue hover:text-white inline-flex items-center justify-center h-8 w-8 has-tooltip"
          aria-label="Close">
          <span class="sr-only">Close</span>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div>
    {% block content %}{% endblock %}
  </div>

  {% include 'footer.html' %}

</body>

</html>