{% extends "base.html" %}
{% load static %}
{% load npda_tags %}
{% block content %}
  <div class="text-center my-4">
    <h1 class="text-xl">Select your paediatric diabetes unit</h1>
  </div>
  <div class="flex flex-row flex-wrap justify-center gap-4 p-4">
    {% for pdu in pdu_choices %}
      <div class="card bg-base-100 w-96 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">{{pdu.0}}</h2>
          <p>{{pdu.1}}</p>
          <div class="card-actions justify-end">
            <div>
              <a class="btn btn-primary" href="{% url 'view_preference' %}?pz_code_select_name={{ pdu.0}}&next_page=patients">
                Upload data
              </a>
            </div>
            <div>
              <a class="btn btn-info" href="{% url 'view_preference' %}?pz_code_select_name={{ pdu.0}}&next_page=dashboard">
                Unit Report
              </a>
              <a class="btn btn-info" href="{% url 'view_preference' %}?pz_code_select_name={{ pdu.0}}&next_page=patient_report">
                Patient Report
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
