{% extends "base.html" %}
{% load static %}
{% load npda_tags %}
{% block content %}
  <div class="text-center my-4">
    <h1 class="text-xl">
      {{selected_audit_period_display_name}}
      <br />
      Select your paediatric diabetes unit
    </h1>
  </div>
  <div class="flex flex-row flex-wrap justify-center gap-4 p-4">
    {% for pdu in active_pdus %}
      {% include "partials/pdu-card.html" with pdu=pdu %}
    {% endfor %}
  </div>
  {% if inactive_pdus %}
    <h2 class="text-center text-xl">Inactive</h2>
    <div class="flex flex-row flex-wrap justify-center gap-4 p-4">
      {% for pdu in inactive_pdus %}
        {% include "partials/pdu-card.html" with pdu=pdu %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}