{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="flex flex-col justify-center px-10" hx-get="/npda_users" hx-trigger="npda_users from:body" hx-target="#npda_user_table">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          {% url 'npda_users' as hx_post %}
            <div id="npdauser_view_preference" class="mb-5">
              {% include 'partials/view_preference.html'  with view_preference=request.user.view_preference hx_post=hx_post organisation_choices=organisation_choices ods_code_select_name="npdauser_ods_code_select_name" pz_code_select_name="npdauser_pz_code_select_name" ods_code=ods_code pdu_choices=pdu_choices chosen_pdu=chosen_pdu hx_target="#npdauser_view_preference" %}
            </div>
          <div class="relative overflow-x-auto" id="npda_user_table">
            {% include 'partials/npda_user_table.html' with npdauser_list=npdauser_list %}
          </div>
            <a href="{% url 'npdauser-create' %}" class="bg-rcpch_light_blue text-white font-semibold hover:text-white py-2.5 px-3 mt-40 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">Add NPDA User</a>
            <a href="{% url 'home' %}" class="bg-rcpch_light_blue text-white font-semibold hover:text-white py-2.5 px-3 mt-40 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">Home</a>
        </div>
    </div>
</div>
{% endblock %}