{% extends "base.html" %}
{% load static %}
{% load npda_tags %}
{% block content %}
<div class="flex flex-col justify-center px-10" hx-get="/patients" hx-trigger="patients from:body" hx-target="#patient_table">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="relative overflow-x-auto">
            <div id="patient_table">
              {% include 'partials/patient_table.html' with patient_list=patient_list index_of_first_invalid_patient=index_of_first_invalid_patient total_invalid_patients=total_invalid_patients %}
            </div>
          </div>
          {% if perms.npda.add_patient %}
            <a href="{% url 'patient-add' %}" class="bg-rcpch_light_blue text-white font-semibold hover:text-white py-2.5 px-3 mt-40 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">Add Child</a>
          {% endif %}
        </div>
    </div>
</div>
{% endblock %}