{% extends "base.html" %}
{% load static %}
{% load npda_tags %}
{% block content %}
<div class="flex flex-col justify-center px-10" hx-get="/patients" hx-trigger="patients from:body" hx-target="#patient_table">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="relative overflow-x-auto">
            <h1 class="text-3xl font-montserrat font-semibold text-rcpch_dark_blue">Patients under the care of {{pz_code}}</h1>
            {% url 'patients' as hx_post %}
            <div id="patient_view_preference" class="mb-5">
              {% include 'partials/view_preference.html'  with view_preference=request.user.view_preference hx_post=hx_post pz_code_select_name="patient_pz_code_select_name" pdu_choices=pdu_choices chosen_pdu=chosen_pdu hx_target="#patient_view_preference" %}
            </div>
            <div id="patient_table">
              {% include 'partials/patient_table.html' with patient_list=patient_list index_of_first_invalid_patient=index_of_first_invalid_patient total_invalid_patients=total_invalid_patients %}
            </div>
          </div>
          {% if perms.npda.add_patient %}
            <a href="{% url 'patient-add' %}" class="bg-rcpch_light_blue text-white font-semibold hover:text-white py-2.5 px-3 mt-40 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">Add Child</a>
          {% endif %}
        </div>
    </div>
</div>
{% endblock %}