{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="flex flex-row min-h-screen justify-center">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="relative overflow-x-auto">
              <table class="w-full text-sm text-left rtl:text-right text-gray-500 text-gray-400">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-50 bg-rcpch_dark_blue text-white">
                    <tr>
                      <th scope="col" class="px-6 py-3">NHS Number</th>
                      <th scope="col" class="px-6 py-3">Sex</th>
                      <th scope="col" class="px-6 py-3">Date of Birth</th>
                      <th scope="col" class="px-6 py-3">Postcode</th>
                      <th scope="col" class="px-6 py-3">Ethnicity</th>
                      <th scope="col" class="px-6 py-3">Diabetes Type</th>
                      <th scope="col" class="px-6 py-3">Diagnosis Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if patients %}
                        {% for patient in patients %}
                          <tr class="border-b bg-rcpch_light_blue text-white border-gray-100 hover:bg-r hover:bg-gray-600">
                              <td><a href="{% url 'patient-update' patient.pk %}" class="text-white hover:text-rcpch_strong_blue px-2"><strong>{{ patient.nhs_number }}</strong></a></td>
                              <td class="px-6 py-4">{{ patient.get_sex_display }}</td>
                              <td class="px-6 py-4">{{ patient.date_of_birth }}</td>
                              <td class="px-6 py-4">{{ patient.postcode }}</td>
                              <td class="px-6 py-4">{{ patient.get_ethnicity_display }}</td>
                              <td class="px-6 py-4">{{ patient.get_diabetes_type_display }}</td>
                              <td class="px-6 py-4">{{ patient.diagnosis_date }}</td>
                              <td><a href="{% url 'patient_visit' patient.pk %}" class="text-white hover:text-rcpch_strong_blue px-2"><strong>Visits</strong></a></td>
                          </tr>
                        {% endfor %}
                    {% else %}
                        <h5>No patients yet!</h5>
                    {% endif %}
                  </tbody>
                  <tfoot>
                    <tr class="text-xs text-gray-700 uppercase bg-gray-50 bg-rcpch_dark_blue text-white">
                        <th class="px-2">
                            <strong>
                                Total: {{patients.count}} patients
                            </strong>
                        </th>
                        <th class="px-2">
                          <a href="{% url 'patient-add' %}" class="bg-blue-500 hover:bg-white text-white font-semibold hover:text-blue-500 py-2 px-3 mt-20 border border-blue-500 hover:border-blue-500 rounded">Add Child</a>
                        </th>
                    </tr>
                  </tfoot>
                </table>
          </div>
      </div>
    </div>
</div>
{% endblock %}