{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="mb-5 container-mx-auto flex items-center justify-center">
    <div class="w-full"
         hx-get="/submissions"
         hx-trigger="submissions from:body"
         hx-target="#submissions_table">
      <div class="flex flex-col justify-center px-10">
        <div>
          <div>
            <div class="relative">
              <div id="submissions_table" class="w-full mt-5 mx-2">
                {% include 'partials/submission_history.html' with submissions=object_list data=data submission_errors=submission_errors patients=patients %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if request.user.view_preference == 2 %}
    <section class="mb-5 container-mx-auto flex items-center justify-center">
      <div class="w-full"
           hx-get="/submissions"
           hx-trigger="submissions from:body"
           hx-target="#column_chart">
        <div class="flex flex-col justify-center px-10">
          <div>
            <div>
              <div class="relative">
                <div id="column_chart" class="w-full mt-5 mx-2">{{ column_chart|safe }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
