{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="mb-5 container-mx-auto flex items-center justify-center">
    <div class="w-full"
         hx-get="/submissions"
         hx-trigger="submissions from:body"
         hx-target="#submissions_table">
      <div class="flex flex-col justify-center px-10">
        <div>
          <div>
            <div class="relative">
              <div id="submissions_table" class="w-full mt-5 mx-2">
                {% include 'partials/submission_history.html' with submissions=object_list data=data submission_errors=submission_errors patients=patients %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if request.user.view_preference == 2 %}
    <section class="mb-5 container-mx-auto flex items-center justify-center">
      <div class="w-full">
        <div class="flex flex-col justify-center px-10">
          <div>
            <div>
              <div class="relative">
                <div id="column_chart" class="w-full mt-5 mx-2">{{ column_chart|safe }}</div>
              </div>
            </div>
          </div>
          <div class="stats shadow text-rcpch_pink">
            <div class="stat place-items-center">
              <div class="stat-title">Latest Submission</div>
              <div class="stat-value">
                {{ submission_statistics.latest_submission.pdu.lead_organisation_name }} ({{ submission_statistics.latest_submission.pdu.pz_code }})
              </div>
              <div class="stat-desc">
                {{ submission_statistics.latest_submission.submission_date }}
              </div>
            </div>
            <div class="stat place-items-center">
              <div class="stat-title">Submission with fewest Errors</div>
              <div class="stat-value">
                {{ submission_statistics.fewest_errors.error_number }}
              </div>
              <div class="stat-desc">
                {{ submission_statistics.fewest_errors.pdu.lead_organisation_name }} ({{ submission_statistics.fewest_errors.pdu.pz_code }})
              </div>
            </div>
            <div class="stat place-items-center">
              <div class="stat-title">Most Patients</div>
              <div class="stat-value">
                {{ submission_statistics.most_patients.patient_number }}
              </div>
              <div class="stat-desc">
                {{ submission_statistics.most_patients.pdu.lead_organisation_name }} ({{ submission_statistics.most_patients.pdu.pz_code }})
              </div>
            </div>
            <div class="stat place-items-center">
              <div class="stat-title">Most Visits/Patient</div>
              <div class="stat-value">
                {{ submission_statistics.most_visits.visit_number_per_patient }}
              </div>
              <div class="stat-desc">
                {{ submission_statistics.most_visits.pdu.lead_organisation_name }} ({{ submission_statistics.most_patients.pdu.pz_code }})
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
