{% extends "base.html" %}
{% load static %}
{% load npda_tags %}
{% block content %}
  <div class="min-h-screen flex flex-col justify-center">
    <div class="overflow-x-auto">
      <div class="min-w-full inline-block px-10 py-2">
        <div class="w-full overflow-x-auto relative">
          {% include 'partials/page_elements/data_rules_banner.html' %}
          <div>
            <strong>All {{ paediatric_diabetes_unit.lead_organisation_name }} ({{ paediatric_diabetes_unit.pz_code }}) Visits (April {{ submission.audit_year }} - March {{ request.session.selected_audit_year|add:'1' }}) for {% nhs_number_vs_urn pz_code %} {% nhs_number_vs_urn pz_code patient %} (NPDA ID-{{ patient.pk }})</strong>
          </div>
          {% if visits %}
            <table class="font-montserrat table-md w-full table mb-5 text-sm text-left text-gray-400 text-gray-500 rtl:text-right">
              <thead class="bg-rcpch_dark_blue text-xs text-white text-gray-700 uppercase bg-gray-50">
                <tr>
                  <th class="px-2 py-3">Visit Date</th>
                  <th class="px-2 py-3">Categories Addressed</th>
                  <th class="px-2 py-3"></th>
                </tr>
              </thead>
              <tbody>
                {% for visit in visits %}
                  <tr class="text-black bg-white border-b border-gray-100 hover:bg-gray-200">
                    <td class="px-6 py-4">{{ visit.visit.visit_date }}</td>
                    <td class="flex flex-wrap py-5">
                      {% if visit.categories|no_categories_present %}
                        <span class="bg-rcpch_light_blue px-1 py-0.25 mx-1 my-1 text-sm font-semibold text-white">
                          <small>No categories addressed in this visit so far</small>
                        {% endif %}
                        {# Loop through the categories and display them is present #}
                        {% for item in visit.categories %}
                          {% if item.present %}
                            <span class="bg-{{ item.colour }} px-1 py-0.25 mx-1 my-1 text-sm font-semibold text-white">
                              <small>
                                <div class="tooltip tooltip-right visible text-center text-white hover:text-white"
                                     {% if item.errors %} data-tip='{% for error in item.errors.values|flatten %}{{ error|escape }}{% endfor %}
                                     '
                                     {% endif %}>
                                  {% if item.errors %}
                                    <span class="fa-stack text-rcpch_red">
                                      <i class="fa-circle fa-stack-1x fas"></i>
                                      <i class="fa-exclamation fa-stack-1x fa-inverse fas"></i>
                                    </span>
                                  {% endif %}
                                  <a href="{% url 'visit-update' patient.pk visit.visit.pk %}#{{ item.anchor }}">
                                    {{ item.name }}
                                  </a>
                                </div>
                              </small>
                            </span>
                          {% endif %}
                        {% endfor %}
                      </td>
                      <td>
                        {% if perms.npda.change_visit %}
                          <a href="{% url 'visit-update' patient.pk visit.visit.pk %}"
                             class="text-rcpch_pink flex justify-end items-center px-2">
                            <span>Visit Details</span>
                            <svg class="text-rcpch_pink w-8 h-8"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 stroke-width="2"
                                 stroke="currentColor"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" />
                              <polyline points="9 6 15 12 9 18" />
                            </svg>
                          </a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr class="bg-rcpch_dark_blue py-5 text-xs text-white text-gray-700 uppercase bg-gray-50">
                    <th colspan="4" class="px-2">
                      <strong>
                        Total: {{ visits|length }}
                        {% if visits|length > 1 %}
                          Visits
                        {% else %}
                          Visit
                        {% endif %}
                      </strong>
                    </th>
                  </tr>
                </tfoot>
              </table>
            {% else %}
              <div class="hero bg-base-200 min-h-screen">
                <div class="hero-content text-center">
                  <div class="max-w-md">
                    <h1 class="text-5xl font-bold font-montserrat text-rcpch_light_blue">
                      {% nhs_number_vs_urn pz_code patient %} (NPDA ID {{ patient.pk }}) has no visits yet...
                    </h1>
                    <i class="fa-solid fa-hand-sparkles text-5xl text-rcpch_light_blue opacity-0 animate-sparkle mt-2"></i>
                    {% if perms.npda.add_visit %}
                      <div class="py-6">
                        {% if request.session.can_complete_questionnaire %}
                          <a href="{% url 'visit-create' patient_id=patient.pk %}"
                             class="btn btn-info h-auto w-full md:w-auto {% if not perms.npda.add_visit %}btn-disabled{% endif %}">
                            <i class="fa-solid fa-person-circle-plus"></i>
                            Add visit
                          </a>
                        {% endif %}
                      </div>
                      <p class="mt-2 font-montserrat">
                        <i>(You can also find this button below)</i>
                      </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
            <div>
              {% if perms.npda.add_visit %}
                {% if request.session.can_complete_questionnaire %}
                  <a href="{% url 'visit-create' patient_id=patient.pk %}{% if data_upload_rules_overridden %}?unlock=true{% endif %}"
                     class="btn bg-rcpch_light_blue border-rcpch_light_blue px-3 py-2.5 mt-40 font-semibold text-white border hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue hover:text-white {% if not perms.npda.add_visit %}btn-disabled{% endif %}">
                    Create New Visit
                  </a>
                {% else %}
                  <span class="btn bg-rcpch_light_blue border-rcpch_light_blue px-3 py-2.5 mt-40 font-semibold text-white border opacity-40 pointer-events-none hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue hover:text-white {% if not perms.npda.add_visit %}btn-disabled{% endif %}">
                    Create New Visit
                  </span>
                {% endif %}
              {% endif %}
              <a href="{% url 'patients' %}"
                 class="bg-rcpch_light_blue border-rcpch_light_blue px-3 py-2.5 mt-40 ml-3 font-semibold text-white border hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue hover:text-white]">Back to Patient List</a>
            </div>
            <div class="py-20">
              {% include 'partials/visit_list_tips.html' with pz_code=pz_code patient=patient %}
            </div>
          </div>
        {% endblock %}
