{% load npda_tags %}
{% csrf_token %}
{% comment %} table with column names
  0-2 y
  2-5 y
  5-12 y
  12-16 y
  16 - 19 y
  19 - 25 y
{% endcomment %}
<form class="filter">
  {% for diabetes_type in diabetes_types %}
    <input class="btn filter-reset"
           {% if diabetes_type.selected %}checked{% endif %}
           hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
           hx-post="{% url 'patient_characteristics' %}"
           hx-target="#patient_characteristics"
           hx-swap="innerHTML"
           hx-trigger="click"
           type="radio"
           name="diabetes_type"
           {% if diabetes_type.enabled == False %}disabled{% endif %}
           value="{{ diabetes_type.key }}"
           aria-label="{{ diabetes_type.value }}" />
  {% endfor %}
</form>
{% comment %}  {% endcomment %}
<div class="text-rcpch_dark_blue font-bold px-5 mt-5">Ages</div>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th></th>
        <th>0-2 y</th>
        <th>2-5 y</th>
        <th>5-12 y</th>
        <th>12-16 y</th>
        <th>16-19 y</th>
        <th>19-25 y</th>
        <th class="text-rcpch_pink">Over 12y</th>
        <th class="text-rcpch_pink">Under 12y</th>
        <th class="text-rcpch_pink">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>{{ patients_by_age.birth_two }}</td>
        <td>{{ patients_by_age.two_five }}</td>
        <td>{{ patients_by_age.five_twelve }}</td>
        <td>{{ patients_by_age.twelve_sixteen }}</td>
        <td>{{ patients_by_age.sixteen_nineteen }}</td>
        <td>{{ patients_by_age.nineteen_twenty_five }}</td>
        <td class="text-rcpch_pink_light_tint2 font-bold">
          {{ patients_by_age.under_twelve }}
        </td>
        <td class="text-rcpch_pink_light_tint2 font-bold">
          {{ patients_by_age.over_twelve }}
        </td>
        <td class="text-rcpch_pink font-bold">{{ number_of_patients }}</td>
      </tr>
      <tr>
        <td></td>
        <td>{{ patients_by_age.birth_two|percentage:number_of_patients }}</td>
        <td>{{ patients_by_age.two_five|percentage:number_of_patients }}</td>
        <td>{{ patients_by_age.five_twelve|percentage:number_of_patients }}</td>
        <td>{{ patients_by_age.twelve_sixteen|percentage:number_of_patients }}</td>
        <td>{{ patients_by_age.sixteen_nineteen|percentage:number_of_patients }}</td>
        <td>
          {{ patients_by_age.nineteen_twenty_five|percentage:number_of_patients }}
        </td>
        <td class="text-rcpch_pink_light_tint2 font-bold">
          {{ patients_by_age.under_twelve|percentage:number_of_patients }}
        </td>
        <td class="text-rcpch_pink_light_tint2 font-bold">
          {{ patients_by_age.over_twelve|percentage:number_of_patients }}
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{% comment %} Sex states {% endcomment %}
<div class="text-rcpch_dark_blue font-bold px-5 mt-5">Sexes</div>
<div class="flex flex-col">
  {% comment %}  {% endcomment %}
  <div class="stats shadow flex flex-row">
    <div class="stat place-items-center">
      <div class="stat-title">Boys</div>
      <div class="stat-value">{{ patients_by_sex.male }}</div>
      <div class="stat-desc">
        {{ patients_by_sex.male|percentage:number_of_patients }}
      </div>
    </div>
    <div class="stat place-items-center">
      <div class="stat-title">Girls</div>
      <div class="stat-value">{{ patients_by_sex.female }}</div>
      <div class="stat-desc">
        {{ patients_by_sex.female|percentage:number_of_patients }}
      </div>
    </div>
    <div class="stat place-items-center">
      <div class="stat-title">Unspecified</div>
      <div class="stat-value">{{ patients_by_sex.not_specified|none_to_dash }}</div>
      <div class="stat-desc">
        {{ patients_by_sex.not_specified|percentage:number_of_patients }}
      </div>
    </div>
    <div class="stat place-items-center">
      <div class="stat-title">Unknown</div>
      <div class="stat-value">{{ patients_by_sex.unknown|none_to_dash }}</div>
      <div class="stat-desc">
        {{ patients_by_sex.unknown|percentage:number_of_patients }}
      </div>
    </div>
  </div>
  {% comment %}  {% endcomment %}
</div>
{% comment %}  {% endcomment %}
<div class="grid grid-cols-2 gap-4 mt-5">
  <div class="col-span-1" id='piecharts'>
    <form class="filter">
      <input class="btn"
             {% if ethnicity_has_datef is False or imd_has_data is False %} disabled {% endif %}
             type="radio"
             name="ethnicity_deprivation"
             value="ethnicity"
             aria-label="Ethnicity"
             _="on click toggle .hidden on #deprivation-piechart then toggle .hidden on #ethnicity-piechart" />
      <input class="btn"
             {% if ethnicity_has_datef is False or imd_has_data is False %} disabled {% endif %}
             checked
             type="radio"
             name="ethnicity_deprivation"
             value="deprivation"
             aria-label="Deprivation"
             _="on click toggle .hidden on #ethnicity-piechart then toggle .hidden on #deprivation-piechart" />
    </form>
    {% if ethnicity_has_date or imd_has_data %}
      <div class="w-full h-25" id="deprivation-piechart">
        {{ imd_piechart|safe }}
      </div>
      <div class="w-full h-25 hidden" id="ethnicity-piechart">
        {{ ethnicity_piechart|safe }}
      </div>
    {% else %}
      <div class="alert alert-info mt-5">
        <i class="fa-solid fa-person-circle-exclamation"></i> No eligible patients.
      </div>
    {% endif %}
    {% comment %} ethnicity / deprivation toggle and chart {% endcomment %}
    <div class="col-span-1 px-5 mt-5">
      <h1>hello</h1>
    </div>
  </div>
