{% load npda_tags %}
{% if numerator and denominator %}
    <span class="text-xl font-bold text-rcpch_dark_blue">{{ numerator }}</span>
    /
    <span class="text-xl font-bold text-rcpch_mid_grey">{{ denominator }}</span>
{% else %}
    <span class="text-xl font-bold text-rcpch_dark_blue">{{ number|screen_ineligible }}</span>
{% endif %}
{% if description %}
    <span class="text-xs text-rcpch_pink tooltip"
          data-tip="{{ description|safe }}">{{ units }} <i class="fa fa-circle-question"></i></span>
{% else %}
    <span class="text-xs text-rcpch_pink">{{ units }}</span>
{% endif %}
