{% if user.is_authenticated %}
  <div class="dropdown dropdown-end h-full shadow">
    <div tabindex="0"
          role="button"
          class="btn btn-ghost btn-circle avatar bg-rcpch_light_blue hover:bg-rcpch_dark_blue active:bg-rcpch_pink focus:bg-rcpch_pink text-white h-full w-16 text-2xl">
      <span>{{ user.first_name|slice:":1" }}</span>
    </div>
    <ul tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[70] mt-3 w-60 p-2 shadow-xl ">
      <label class="hidden flex cursor-pointer gap-2 mx-auto my-2 items-center">
        <i class="fa-solid fa-sun"></i>
        <input type="checkbox"
                value="dark"
                id="theme-selector"
                class="toggle theme-controller"
                hx-on:click="event.stopPropagation(); setTheme(event.target.checked ? 'dark' : 'light'); " />
        <i class="fa-solid fa-moon"></i>
      </label>
      <p class="text-center">
        Hello, <span class="font-mono">{{ user.get_full_name }}!</span>
      </p>
      <hr class="my-2" />
      <li>
        <select title="Select audit year"
          _="on change go to url `$my.value`" >
        {% for audit_period in audit_period_choices %}
          <option value="{% url 'new-home' audit_period=audit_period.slug %}"
            {% if audit_period_slug == audit_period.slug %} selected {% endif %}>
            {{audit_period.display_name}}
          </option>
        {% endfor %}
        </select>
      </li>
      <hr class="my-2" />
      <li>
        <a href="{% url 'two_factor:profile' %}"><i class="fa-solid fa-shield"></i>Two Factor Authentication</a>
      </li>
      <li>
        <a href="{% url 'npda_users' %}"><i class="fa-solid fa-users"></i>Manage Users</a>
      </li>
      <li>
        <a href="{% url 'feature-flags' %}"><i class="fa-solid fa-wand-magic-sparkles"></i>Feature Previews</a>
      </li>
      {% if user.is_superuser %}
        <li>
          <a href="{% url 'admin:index' %}"><i class="fa-solid fa-toolbox"></i>Django Admin</a>
        </li>
        <form method="post" action="{% url 'celery_test_task' %}">
          <li>
              {% csrf_token %}
              <button type="submit">
                Trigger Celery test task
              </button>
          </li>
        </form>
      {% endif %}
      <form method="post" action="{% url 'logout' %}">
        <li>
          {% csrf_token %}
          <button type="submit">
            <i class="fa-solid fa-right-from-bracket"></i> Log Out
          </button>
        </li>
      </form>
      </ul>
    </div>
{% else %}
    <a href="{% url 'two_factor:login' %}"
  class="text-xs block font-montserrat font-semibold text-gray-700 lg:border-0 lg:hover:text-primary-700 px-0 lg:px-5 py-2 lg:py-2.5 mr-2 text-gray-400 hover:text-rcpch_light_blue hover:bg-transparent">Sign In</a>
  {% endif %}
