{% url 'dashboard' as hx_get %}
{% comment %} ADDS KONVA FOR WAFFLE PLOTS JUST WHEN THIS TEMPLATE IS RENDERED {% endcomment %}
<script src="https://unpkg.com/konva@9/konva.min.js"></script>
<div class="mx-10 p-4 font-montserrat text-rcpch_dark_blue"
     id="dashboard"
     hx-get="{{ hx_get }}"
     hx-trigger="dashboard from:body"
     hx-swap="innerHTML">
  <div class="my-6">
    <p class="text-center text-gray-500 mt-2">
      Calculated at {{ kpi_calculations_object.calculation_datetime }}
    </p>
    <p class="text-center">This data has not been validated by the NPDA team.</p>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <!-- ROW 1 -->
    <div class="col-span-3">
      <!-- PDU Details Card -->
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">PDU Details</h2>
          <p>Mock data for PDU details...</p>
        </div>
      </div>
    </div>
    <div class="col-span-3">
      <!-- Audit Details Card -->
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Audit Details</h2>
          <p>Mock data for audit details...</p>
        </div>
      </div>
    </div>
    <div class="col-span-6">
      <!-- Patient Measurements Card -->
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Patient Measurements</h2>
          <p>Mock data for patient measurements...</p>
        </div>
      </div>
    </div>
    <!-- ROW 2 -->
    <div class="col-span-6">
      <!-- Patient Characteristics Card -->
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Patient Characteristics</h2>
          <p>Mock data for patient characteristics...</p>
        </div>
      </div>
    </div>
    <div class="col-span-6">
      <!-- Other Metrics Card -->
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Other Metrics</h2>
          <p>Mock data for other metrics...</p>
        </div>
      </div>
    </div>
    <!-- ROW 3 -->
    <div class="col-span-12">
      <!-- Map Card -->
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Map</h2>
          {% include 'dashboard/components/cards/imd_map_card.html' with scatterplot_of_cases_for_selected_organisation=charts.scatterplot_of_cases_for_selected_organisation pdu_lead_organisation=pdu_lead_organisation pdu_object=pdu_object %}
        </div>
      </div>
    </div>
  </div>
</div>
