<!-- Metrics Dashboard -->
<div class="space-y-6">
    <!-- Top Row Metrics -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <!-- New diagnoses -->
        {%include "dashboard/components/bases/base_secondary_card.html" with title="New diagnoses" value="25" subtitle="(N / month)"%}

        <!-- Admissions -->
        {%include "dashboard/components/bases/base_secondary_card.html" with title="Admissions" value="25" subtitle="(N / month)"%}

        <!-- Transitioned to Adult Service -->
        {%include "dashboard/components/bases/base_secondary_card.html" with title="Transitioned to Adult Diabetes Service" value="25" subtitle="(N / month)"%}

        <!-- Moved out of area -->
        {%include "dashboard/components/bases/base_secondary_card.html" with title="Moved out of area" value="25" subtitle="(N / month)"%}
    </div>

    <!-- Main Content Area -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <!-- Graph Section -->
        <div class="card bg-base-100 shadow-xl flex flex-col md:col-span-3">
            <div class="card-body">
                <h2 class="card-title text-sm text-center font-bold">Closed Loop</h2>
                <div class="">
                    <div class="flex items-center justify-center text-gray-500">
                        [Graph Placeholder]
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Side Metrics -->
        <div class="flex flex-col gap-4">
            <!-- Closed Loop -->
            {%include "dashboard/components/bases/base_secondary_card.html" with title="Closed Loop" value="25" subtitle="(50%)" %}

            <!-- Pump -->
            {%include "dashboard/components/bases/base_secondary_card.html" with title="Pump" value="25" subtitle="(50%)" %}

            <!-- CGM -->
            {%include "dashboard/components/bases/base_secondary_card.html" with title="CGM" value="25" subtitle="(50%)" %}
        </div>
    </div>
</div>
