<!-- Metrics Dashboard -->
<div class="grid grid-cols-1 gap-4">
    <!-- Top Row Metrics -->
    <div class="grid grid-cols-2 xl:grid-cols-4 gap-4">
        <!-- New diagnoses -->
        {% include "dashboard/components/cards/new_diagnoses_card.html" %}

        <!-- Admissions -->
        {% include "dashboard/components/cards/new_admissions_card.html" %}

        <!-- Transitioned to Adult Service -->
        {% include "dashboard/components/cards/transitioned_to_adult_service_card.html" %}

        <!-- Moved out of area -->
        {% include "dashboard/components/cards/moved_out_of_area_card.html" %}
    </div>

    <!-- Main Content Area -->
    <div class="grid grid-cols-1 xl:grid-cols-4 gap-4">
        <!-- Graph Section -->
        <div class="card bg-base-100 shadow-xl flex flex-col md:col-span-3">
            <div class="card-body">
                <h2 class="card-title text-sm text-center font-bold">Hybrid Closed Loop</h2>
                <div class="">
                  {% if charts.hcl_use_per_quarter_value_counts_pct.no_eligible_patients %}
                  <div class="alert alert-info">
                    <i class="fa-solid fa-person-circle-exclamation"></i> No eligible patients.
                  </div>
                {% else %}
                  <div
                  hx-get="{% url 'get_hcl_scatter_plot' %}"
                  hx-vals='{ "data" : {{ charts.hcl_use_per_quarter_value_counts_pct.data }} }'
                  hx-trigger="load" hx-swap="innerHTML"></div>
                {% endif %}
                </div>
            </div>
        </div>

        <!-- Right Side Metrics -->
        <div class="flex flex-col gap-4">
            <!-- Closed Loop -->
            {% include "dashboard/components/cards/n_on_hcl_card.html" %}

            <!-- Pump -->
            {% comment %} {% include "dashboard/components/bases/base_secondary_card.html" with title="Pump" value="25" subtitle="(50%)" %} {% endcomment %}

            <!-- CGM -->
            {% comment %} {% include "dashboard/components/bases/base_secondary_card.html" with title="CGM" value="25" subtitle="(50%)" %} {% endcomment %}
        </div>
    </div>
</div>
