{% load i18n %}

<div class=" flex flex-col justify-center items-center">
  
    <button type="submit" class="bg-rcpch_light_blue text-white font-semibold hover:text-white py-2.5 px-3 mt-5 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">
      {% trans "Next" %}
    </button>
  
  {% if wizard.steps.prev %}
  <div class="field">
    <button
      name="wizard_goto_step"
      type="submit"
      value="{{ wizard.steps.prev }}"
      class="bg-rcpch_light_blue text-white font-semibold hover:text-white py-2.5 px-3 mt-5 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue"
    >
      Back
    </button>
  </div>
  {% endif %}
</div>

<!--IF NO PREV BUTTON -> MUST BE AT FIRST SIGNIN PAGE -->
{% if not wizard.steps.prev %}
<div class="field">
  <a href="{% url 'password_reset' %}" class="bg-rcpch_light_blue text-white font-semibold hover:text-white py-2.5 px-3 mt-5 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue">Reset Password</a>
  <div>
    <p class="text-rcpch_red font-montserrat">
      For users of the old platform (cohort 1 - 5), you will require a new
      username and password to access this new platform. Please contact your
      Lead Clinician or 
      <a href="mailto:npda@rcpch.ac.uk">npda@rcpch.ac.uk</a> 
      for assistance.
    </p>
  </div>
</div>
{% endif %}
