{% extends 'base.html' %}
{% block content %}
  <div class="w-full flex flex-col justify-center items-center min-h-fit">
    <div class="container flex flex-col justify-center items-center my-6">
      <div class="w-6/12 mb-12">
        <div role="alert" class="alert border-t-1 border-blue-400 shadow-lg">
          <i class="fa-2xl fa-file-csv fa-solid"></i>
          <div>
            <h3 class="font-bold">You must upload using the exact columns from the template.</h3>
            <div class="text-xs">
              Templates from older versions of the platform may not be supported. Please check your columns against the template.
            </div>
          </div>
        </div>
        <a href="{% url 'download_template' 'england_wales' %}"
           download="npda_base.csv"
           class="bg-rcpch_light_blue border-rcpch_light_blue btn w-full text-lg text-white focus:bg-rcpch_pink hover:bg-rcpch_dark_blue"><i class="fa-file-arrow-down fa-solid"></i> Download NPDA CSV template</a>
      </div>
      <form method="post"
            enctype="multipart/form-data"
            class="w-6/12 p-8 border-4 border-gray-400 border-dashed"
            _="on dragover or dragenter halt the event then add .bg-rcpch_light_grey on dragleave or drop remove .bg-rcpch_light_grey on drop halt the event then get event.dataTransfer.files then put it into #upload_input.files then call updateFilename(#upload_input)">
        <p class="font-montserrat text-rcpch_dark_blue mb-4 text-xl font-semibold text-center">
          Drag &amp; drop your NPDA CSV file here, or
        </p>
        <div class="bg-rcpch_dark_blue flex justify-center items-center px-6 py-4 mb-4">
          <label class="font-montserrat px-4 py-2 mr-4 text-white bg-gray-600 cursor-pointer">
            Choose file
            <input id="upload_input"
                   type="file"
                   name="csv_upload"
                   class="hidden"
                   onchange="updateFilename(this)"
                   accept=".csv" />
          </label>
          <span id="file-name-display" class="font-montserrat text-white">No file chosen</span>
        </div>
        {% csrf_token %}
        <div class="relative">
          <button id="submit-button"
                  class="font-montserrat tooltip-trigger w-full px-4 py-2 text-white bg-gray-400"
                  type="submit"
                  disabled
                  _="on click remove .hidden from #upload-spinner">
            Submit data
            <span class="loading loading-lg loading-spinner text-rcpch_pink hidden"
                  id="upload-spinner"></span>
          </button>
          <div class="-translate-x-1/2 bg-rcpch_pink tooltip-content transform w-48 absolute left-1/2 p-2 mt-2 text-center text-white rounded opacity-0 transition-opacity duration-300 pointer-events-none"
               _=" on mouseenter from #submit-button if the #submit-button's disabled add .opacity-100 end on mouseleave from #submit-button if the #submit-button's disabled remove .opacity-100 end ">
            Upload your NPDA CSV file to submit data!
          </div>
        </div>
      </form>
    </div>
    {% if missing_columns or additional_columns or duplicate_columns %}
      <div class="w-6/12 m-6">
        <div role="alert" class="alert alert-warning">
          <span class="fa-stack">
            <i class="fa-circle fa-stack-1x fas"></i>
            <i class="fa-exclamation fa-stack-1x fa-inverse fas"></i>
          </span>
          <span>Warning: Column errors detected!</span>
        </div>
        <table class="table">
          <thead>
            <td>Template</td>
            <td>Your CSV file</td>
          </thead>
          <tbody>
            {% for template_column, csv_column in csv_and_template_columns %}
              <tr>
                <td>
                  {{template_column}}
                </td>
                {% if template_column in missing_columns or template_column in additional_columns or template_column in duplicate_columns %}
                  <td class="bg-rcpch_red text-white">
                    {{ csv_column }}
                  </td>
                {% else %}
                  <td>
                    {{ csv_column }}
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
  <script>
  function updateFilename(input) {
    const fileNameDisplay = document.getElementById('file-name-display')
    const submitButton = document.getElementById('submit-button')

    if (input.files.length > 0) {
      const file = input.files[0]
      const fileName = file.name
      const fileExtension = fileName.split('.').pop().toLowerCase()

      if (fileExtension === 'csv') {
        fileNameDisplay.textContent = fileName
        submitButton.classList.replace('bg-gray-400', 'bg-rcpch_light_blue')
        submitButton.removeAttribute('disabled')
      } else {
        fileNameDisplay.textContent = 'Invalid file type. Please upload a CSV file.'
        submitButton.classList.add('bg-gray-400')
        submitButton.setAttribute('disabled', 'disabled')
      }
    } else {
      fileNameDisplay.textContent = 'No file chosen'
      submitButton.classList.add('bg-gray-400')
      submitButton.setAttribute('disabled', 'disabled')
    }
  }
  </script>
{% endblock content %}
