{% extends 'base.html' %}
{% block content %}
  <div class="flex flex-col justify-center items-center min-h-screen py-20">
    <div class="flex flex-col items-center space-y-8 max-w-4xl mx-auto px-4">
      {% if not upload_complete %}
        <div id="csv-in-progress-upload-container"
             class="container flex flex-col justify-center items-center my-20"
             hx-get="{% url 'upload-csv-in-progress' %}"
             hx-trigger="every 1s [!upload_complete] changed"
             hx-target="#csv-in-progress-upload-container"
             hx-swap="innerHTML">
          {% include 'upload_csv/uploading_csv.html' with total_patients=total_patients total_rows=total_rows visits_so_far=visits_so_far patients_so_far=patients_so_far csv_file_name=csv_file_name patient_progress=patient_progress %}
        </div>
      {% else %}
        <div class="upload-complete">
          {% include 'upload_csv/upload_complete.html' with total_patients=total_patients total_rows=total_rows %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
