NPDA_DJANGO_SECRET=##########

# CENSUS PLATFORM (Deprivation Scores)
RCPCH_CENSUS_PLATFORM_TOKEN=##########
RCPCH_CENSUS_PLATFORM_URL=##########

RCPCH_NHS_ORGANISATIONS_API_URL=##########
RCPCH_NHS_ORGANISATIONS_API_KEY=##########

NHS_SPINE_SERVICES_URL="https://uat.directory.spineservices.nhs.uk/ORD/2-0-0"

POSTCODES_IO_API_URL="https://api.postcodes.io/" #RCPCH host their own instance of postcodes io: this it he opensource project
POSTCODES_IO_API_KEY="XXXXXX"

# DJANGO POSTGRES DATABASE CONNECTION
NPDA_POSTGRES_DB_HOST="postgis"
NPDA_POSTGRES_DB_NAME="npdadb"
NPDA_POSTGRES_DB_PASSWORD="password"
NPDA_POSTGRES_DB_PORT=5432
NPDA_POSTGRES_DB_USER="npdauser"

# POSTGRES SETUP
POSTGRES_DB="npdadb"
POSTGRES_PASSWORD="password"
POSTGRES_USER="npdauser"

# CADDY (WEB SERVER & HTTPS)
SITE_DOMAIN="npda.localhost" # this should also be in DJANGO_ALLOWED_HOSTS and DJANGO_CSRF_TRUSTED_ORIGINS
LETSENCRYPT_EMAIL_ADDRESS=##########
LETSENCRYPT_ENDPOINT="https://acme-staging-v02.api.letsencrypt.org/directory" # LetsEncrypt staging endpoint for testing (https://acme-staging-v02.api.letsencrypt.org/directory) so as not to hit rate limits.
TLS_SOURCE="internal" # or use "acme" for LetsEncrypt

# DJANGO
DJANGO_CSRF_TRUSTED_ORIGINS="https://localhost:8008,https://127.0.0.1,https://npda.localhost"
DJANGO_ALLOWED_HOSTS="localhost,127.0.0.1,npda.localhost"
DEBUG="True" # Set DEBUG=True for Local dev and Development, not Staging or Live
# DEBUGPY
DEBUGPY_PORT=5678

DJANGO_STARTUP_COMMAND="python manage.py runserver 0.0.0.0:8008" # for local development with auto-reload
# DJANGO_STARTUP_COMMAND="gunicorn --bind=0.0.0.0:8000 --timeout 600 rcpch-audit-engine.wsgi" # for live deployment

# FOR LOCAL DEVELOPMENT
LOCAL_DEV_ADMIN_EMAIL="incubator@rcpch.ac.uk"
LOCAL_DEV_ADMIN_PASSWORD="devp@ssword12345"

SITE_CONTACT_EMAIL="npda@rcpch.ac.uk"
EMAIL_DEFAULT_FROM_EMAIL = "npda@rcpch.ac.uk"

# Shows next to the home link on the navigation to help remind you whether you're on live or not
INSTANCE_LABEL="Local Dev"

# Error reporting when DEBUG=False. Format: <name>:<email>,<name>:<email>...
# ADMINS="admin:admin@rcpch.ac.uk"

# Redis (for Celery)
REDIS_HOSTNAME="redis"
REDIS_PORT=6379
REDIS_DATABASE_NUMBER=0

AUTO_LOGOUT_IDLE_TIME_SECONDS=86400 # 1 day

ENABLE_REQUEST_LOGGING="True"