/* static/src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* DaisyUI components */

@layer components {
    .rcpch-light-blue-btn {
      @apply bg-rcpch_light_blue text-white font-semibold hover:text-white py-2 px-3 border border-rcpch_light_blue hover:bg-rcpch_strong_blue hover:border-rcpch_strong_blue rounded-none;
    }
    .rcpch-btn {
      @apply text-white font-semibold hover:text-white py-2.5 px-3 border border-rcpch_yellow_light_tint1 hover:bg-rcpch_yellow hover:border-rcpch_yellow rounded-none;
    }
    .rcpch-input-text {
      @apply shadow appearance-none border border-rcpch_light_blue border-4 focus:border-rcpch_pink hover:border-rcpch_pink w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none rounded-none bg-white;
    }
    .rcpch-select {
      @apply block appearance-none w-full bg-white border border-rcpch_light_blue border-4 focus:border-rcpch_pink hover:border-rcpch_pink hover:border-gray-500 px-4 py-2 pr-8 shadow leading-tight focus:outline-none rounded-none;
    }
  }
   