<dialog id="original_data_modal" class="modal text-black">
  <div class="modal-box">
      <h3 class="text-lg font-bold">Good Data Protection Practice</h3>
      <p class="py-4">
          This download contains your entire original data file. It contains personal information and must be stored securely and deleted after use.
      </p>
      <div class="modal-action">
          <button class="btn" onclick="original_data_modal.close()" type="button">Accept and close</button>
      </div>
  </div>
</dialog>
