{% load npda_tags %}
<div class="flex flex-wrap">
    <label class="form-control flex items-center gap-2 grow">
        <label class="bg-rcpch_strong_blue mx-6 text-white input flex items-center gap-2 w-full h-auto">
            <span class="tooltip tooltip-bottom text-nowrap"
                  data-tip="To view multiple patients, separate {% nhs_number_vs_urn pdu.pz_code %}s with a comma">
                <div class="hidden lg:block  text-nowrap">
                    <i class="fa-solid fa-hospital-user text-white mr-2"></i>
                    Patient search
                    <i class="fa-solid fa-question-circle text-white ml-2"></i>
                </div>
            </span>
            <div class="divider divider-horizontal after:bg-rcpch_strong_blue_light_tint1 before:bg-rcpch_strong_blue_light_tint3 hidden lg:flex">
            </div>
            <input type="text"
                   class="text-center placeholder-gray-300 focus:bg-rcpch_strong_blue_light_tint2 hover:bg-rcpch_strong_blue_light_tint2 focus:placeholder-gray-500 p-2 m-2 text-wrap w-full"
                   placeholder="Enter a unique NDPA ID or {% nhs_number_vs_urn pdu.pz_code %}. To search for several separate them with a comma..."
                   id="search-input"
                   name="search-input"
                   hx-get="{% url 'patients' %}"
                   hx-trigger="keyup changed delay:500ms"
                   hx-target="#patient_table"
                   hx-swap="innerHTML"
                   hx-include="[name='search-input']"
                   hx-params="*"
                   hx-indicator="#search_spinner" />
            <div id="search_spinner"
                 class="htmx-indicator flex items-center px-4 text-white absolute right-14 loading loading-bars loading-sm">
            </div>
            <button class="btn btn-info h-auto w-full md:w-auto"
                    hx-include="#search-input"
                    hx-swap="innerHTML"
                    hx-target="#patient_table"
                    hx-trigger="click"
                    hx-indicator="#search_spinner"
                    hx-get="{% url 'patients' %}"
                    hx-disabled-elt="this">
                <span class="md:hidden text-white">Search patients</span>
                <i class="fa-solid fa-magnifying-glass text-white"></i>
            </button>
        </label>
    </label>
    {% if user.view_preference != 2 %}
        {% if can_complete_questionnaire %}
            <a href="{% url 'patient-add' %}"
               class="btn btn-info h-auto w-full md:w-auto {% if not can_alter_this_audit_year_submission %}btn-disabled{% endif %}">
                <i class="fa-solid fa-person-circle-plus"></i>
                Add patient
            </a>
        {% else %}
            <form method="post" action="{% url 'submissions' %}">
                {% csrf_token %}
                <input type="hidden" name="audit_id" value="{{ submission.pk }}">
                <div class="dropdown pl-1 pr-1">
                    <ul class="menu menu-horizontal">
                        <li>
                            <a href="{% url 'upload_csv' %}" class="btn btn-info text-white">
                                <i class="fa-solid fa-upload"></i>
                                Upload CSV
                            </a>
                        </li>
                        <li>
                            <button class="btn {% if submission_error_count > 0 %} btn-warning {% else %} btn-success {% endif %} text-white"
                                    name="submit-data"
                                    value="download-report"
                                    type="submit">
                                <i class="fa-solid fa-file-excel"></i>
                                Data Quality Report
                                {% if submission_error_count > 0 %}
                                    <span class="badge badge-error">{{ submission_error_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <div tabindex="0" role="button" class="btn btn-info text-white">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </li>
                    </ul>
                    <ul tabindex="0"
                        class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                        <li>
                            <button name="submit-data" value="download-data" type="submit">
                                <i class="fa-solid fa-download"></i>
                                Download original file
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'submissions' %}">
                                <i class="fa-solid fa-timeline"></i>
                                View upload history
                            </a>
                        </li>
                        {% if user.is_superuser or request.user.is_rcpch_audit_team_member %}
                            <li>
                                <a href="{% url 'patient-add' %}" class="text-rcpch_red">
                                    <i class="fa-solid fa-person-circle-plus"></i>
                                    Add patient manually (Audit Team only)
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </form>
        {% endif %}
    {% endif %}
</div>
