{% load npda_tags %}
<div class="flex flex-wrap">
    <label class="form-control flex items-center gap-2 grow">
        <label class="bg-rcpch_strong_blue mx-6 text-white input flex items-center gap-2 w-full h-auto">
            <span class="tooltip tooltip-bottom text-nowrap"
                  data-tip="To view multiple patients, separate {% nhs_number_vs_urn pdu.pz_code %}s with a comma">
                <div class="hidden lg:block  text-nowrap">
                    <i class="fa-solid fa-hospital-user text-white mr-2"></i>
                    Patient search
                    <i class="fa-solid fa-question-circle text-white ml-2"></i>
                </div>
            </span>
            <div class="divider divider-horizontal after:bg-rcpch_strong_blue_light_tint1 before:bg-rcpch_strong_blue_light_tint3 hidden lg:flex">
            </div>
            <input type="text"
                   class="text-center placeholder-gray-300 focus:bg-rcpch_strong_blue_light_tint2 hover:bg-rcpch_strong_blue_light_tint2 focus:placeholder-gray-500 p-2 m-2 text-wrap w-full"
                   placeholder="Enter a unique NPDA ID or {% nhs_number_vs_urn pdu.pz_code %}. To search for several separate them with a comma..."
                   id="search-input"
                   name="search-input"
                   hx-get="{% data_url 'pdu-patients' %}"
                   hx-trigger="keyup changed delay:500ms"
                   hx-target="#patient_table"
                   hx-swap="innerHTML"
                   hx-include="[name='search-input']"
                   hx-params="*"
                   hx-indicator="#search_spinner" />
            <div id="search_spinner"
                 class="htmx-indicator flex items-center px-4 text-white absolute right-14 loading loading-bars loading-sm">
            </div>
            <button class="btn btn-info h-auto w-full md:w-auto"
                    hx-include="#search-input"
                    hx-swap="innerHTML"
                    hx-target="#patient_table"
                    hx-trigger="click"
                    hx-indicator="#search_spinner"
                    hx-get="{% data_url 'pdu-patients' %}"
                    hx-disabled-elt="this">
                <span class="md:hidden text-white">Search patients</span>
                <i class="fa-solid fa-magnifying-glass text-white"></i>
            </button>
        </label>
    </label>
    {% if request.session.can_complete_questionnaire %}
        <div class="pl-1 pr-1">
            <ul class="menu menu-horizontal">
                <li>
                    <a href="{% data_url 'pdu-patient-add' %}"
                       class="btn btn-info h-auto w-full md:w-auto {% if not perms.npda.add_patient %}btn-disabled{% endif %}">
                        <i class="fa-solid fa-person-circle-plus"></i>
                        Add patient
                    </a>
                </li>
                <li>
                    <a href="{% url 'submissions' %}"
                       class="btn btn-info h-auto w-full md:w-auto {% if not perms.npda.view_submission %}btn-disabled{% endif %}">
                        <i class="fa-solid fa-timeline"></i>
                        View submission history
                    </a>
                </li>
            </ul>
        </div>
    {% else %}
        <div class="pl-1 pr-1">
            <ul class="menu menu-horizontal">
                <li>
                    <a href="{% data_url 'pdu-upload-csv' %}"
                       class="btn btn-info text-white {% if not perms.npda.can_submit_csv %}btn-disabled{% endif %}">
                        <i class="fa-solid fa-upload"></i>
                        Upload CSV
                    </a>
                </li>
                <li>
                    <button class="btn {% if submission_error_count > 0 %} btn-warning {% else %} btn-success {% endif %} text-white {% if not perms.npda.view_submission %}btn-disabled{% endif %}"
                            type="button"
                            onclick="quality_report_modal.showModal()">
                        <i class="fa-solid fa-file-excel"></i>
                        Data Quality Report
                        {% if submission_error_count > 0 %}
                            <span class="badge badge-error">{{ submission_error_count }}</span>
                        {% endif %}
                    </button>
                </li>
                <!-- Pop up which shows data protection guidance for report -->
                {% include 'partials/page_elements/quality_report_popup.html' %}
                <!-- Pop up which shows data protection guidance for original data download -->
                {% include 'partials/page_elements/original_data_popup.html' %}
                <div class="dropdown dropdown-bottom dropdown-end">
                    <div tabindex="0"
                         role="button"
                         class="btn btn-info text-white w-12 p-0 flex">
                        {# Trigger Element #}
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul tabindex="0"
                        class="dropdown-content menu bg-base-100 text-black font-normal rounded-box z-[1] w-52 p-2 shadow mt-1">
                        {# Content as Sibling #}
                        {% if perms.npda.can_download_csv %}
                            <li>
                                <button type="button"
                                        onclick="original_data_modal.showModal()"
                                        class="{% if not perms.npda.can_download_csv %}btn-disabled{% endif %}">
                                    <i class="fa-solid fa-download"></i>
                                    Download original file
                                </button>
                                {# Note: Was an <a> tag before, ensure consistency #}
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'submissions' %}">
                                <i class="fa-solid fa-timeline"></i>
                                View upload history
                            </a>
                        </li>
                        {% if user.is_superuser or request.user.is_rcpch_audit_team_member %}
                            <li>
                                <a href="{% data_url 'pdu-patient-add' %}" class="text-rcpch_red">
                                    <i class="fa-solid fa-person-circle-plus"></i>
                                    Add patient manually (Audit Team only)
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </ul>
        </div>
    {% endif %}
</div>
