<button hx-get="?sort_by={{ field }}&page={{ current_page }}&sort={% if sort_by == field %}desc{% else %}asc{% endif %}"
        hx-trigger="click throttle:1s"
        hx-target="#patient_table"
        hx-swap="innerHTML swap:100ms">
  {% if not sort_by or field not in sort_by %}
    <i class="{% if is_string %} fa-arrow-down-a-z {% else %}fa-arrow-down-1-9 {% endif %} fa-solid mr-2 text-rcpch_dark_grey"></i>
  {% elif sort_by == field %}
    <i class="{% if is_string %} fa-arrow-down-a-z {% else %}fa-arrow-down-1-9 {% endif %}  fa-solid mr-2"></i>
  {% else %}
    <i class="{% if is_string %} fa-arrow-up-z-a {% else %}fa-arrow-up-9-1 {% endif %}  fa-solid mr-2"></i>
  {% endif %}
</button>
